<div class="brand-area pt-70  bk-image-brand" style="height: 138px;">
   <div class="container">
      <div class="d-flex justify-content-center pt-4">
            <div class="content-imagen">
               <img class="img-fluid" width="120" src="../../../assets/icons/partners_03.png" alt="partners_03">
            </div>

            <div class="content-imagen">
               <img class="img-fluid" width="150" src="../../../assets/icons/partners_04.png" alt="partners_04">
               
            </div>

            <div class="content-imagen">
               <img class="img-fluid" width="120" src="../../../assets/icons/partners_05.png" alt="partners_05">
               
            </div>

            <div class="content-imagen">
               <img class="img-fluid"  width="120" src="../../../assets/icons/partners_07.png" alt="partners_07">
               
            </div>

            <div class="content-imagen">
               <img class="img-fluid" width="150" src="../../../assets/icons/partners_06.png" alt="partners_06">
               
            </div>
            
         </div>
      </div>

   </div>





<!-- 

       <carousel 
                       [freeScroll]="true"
                       [cellsToShow]="5"
                       class="custom"
                       style="height: 250px;">
                          <div class="carousel-cell">
                            <img width="50" src="../../../assets/icons/partners_03.png" alt="partners_03">
                          </div>
                  
                          <div class="carousel-cell">
                           <img  src="../../../assets/icons/partners_04.png" alt="partners_04">
                         </div>
                 
                         <div class="carousel-cell">
                           <img  src="../../../assets/icons/partners_05.png" alt="partners_05">
                         </div>
                 
                         <div class="carousel-cell">
                           <img  src="../../../assets/icons/partners_07.png" alt="partners_07">
                         </div>
                 
                         <div class="carousel-cell">
                           <img  src="../../../assets/icons/partners_06.png" alt="partners_06">
                         </div>
                    
                  </carousel>
 -->