<div class="process-area-2 pb-30">
   <div class="container pl-4 pr-4">
      <div class="row justify-content-center">
         <div class="col-xl-12">
            <div class="section-title-2  text-center ">
               <h3 class="{{bars}}" style="color: #0D0D60;">
                 {{title}}
               </h3>
               <p>
                  {{titleParteOne}} <br>
                  {{titleParteTwo}}
               </p>
            </div>
         </div>
      </div>

    <div class="row">
      <div class="col-md-4 col-sm-4" *ngFor="let paquete of paquetes">
         <div class="imagen-paquete" style="background-image: url({{image}});">
            <div class="{{cardStyle}}">
               <div class="reels-title">
                  <h4>{{paquete.namePackage}}</h4>     
               </div>
               <div class="reels-price" >
                  <h4>{{paquete.price}}<br>
                     <p class="month">
                       {{paquete.messageMonth}}
                     </p>
                  </h4>
               </div>
               <div class="reels-content">
                  <ul>
                     <li class="{{fontStyle}}">
                      {{paquete.itemOne}}
                     </li>
                     <li>{{paquete.itemTwo}}</li>
                     <li class="{{fontStyle}}" >
                        {{paquete.itemThree}}
                     </li>
                     <li>{{paquete.itemFour}}</li>
                     <li>{{paquete.itemFive}}</li>
                     <li>{{paquete.itemSix}}</li>
                     <li>{{paquete.itemSeven}}</li>
                     <li class="{{ paquete.itemEight  ? 'mostrar' : 'ocultar'}}" >
                        {{paquete.itemEight }}
                    </li>
                    <li class="{{ paquete.itemNine  ? 'mostrar' : 'ocultar'}}" >
                     {{paquete.itemNine }}
                    </li>
                    <li class="{{ paquete.itemTem  ? 'mostrar' : 'ocultar'}}" >
                     {{paquete.itemTem }}
                    </li>
                  </ul>
               </div>
               <div class ="reels-sale">
                  <p type="button" (click)="payPackage()">
                     {{ 'CARD_BUTTON' | translate }}
                  </p>
                </div>   
          </div> 
        </div>
      </div> 
     </div>
   </div>
</div>