<div class="class-area pt-130 pb-130">
   <div class="container-fluid">
      <div class="row align-items-center mb-md-100 mb-xs-60">
         <div class="col-xl-3 col-lg-4 col-md-7 offset-xl-6 offset-lg-5 mb-xs-60">
            <div class="class-content">
               <h3>
                  La Sicurezza
                  La nostra <span style="color:#B125EC">priorità</span> è la sicurezza del tuo
                  account ed è per questo che non ti chiederemo mai la <span style="color:#B125EC">password</span> per nessuno
                  dei nostri servizi.        
               </h3>
               <p>
                  In questo modo il tuo account sarà sempre protetto e
                  soprattutto non violerai gli algoritmi di controllo di Instagram.
               </p>
            </div>
         </div>
         <div class="col-xl-3 col-lg-3 col-md-5">
            <div class="class-img">
               <img 
                class="img-fluid"
                src="../../../../assets/img/reels/Reels_2.png" alt="thumb">
            </div> 
         </div>
      </div>
   </div>
   <div class="class-video">
      <div class="video-hover">
         <a href="https://www.youtube.com/watch?v=ZIKt1-r3PL0" class="popup-video">
            <i class="fas fa-play"></i>
         </a>
         <h3>Watch Our Latest Videos</h3>
      </div>
   </div>
</div>
