<app-navbar></app-navbar> 
 <main>  
  <div class="container pt-3 loginmovil">
   <div class="row justify-content-center pt-3">
       <div class="col-lg-4 col-sm-12">
           <div class="mb-1">       
                   <div class="py-1">
                       <form [formGroup]="myForm">
                        <div class="card-body px-2">  
                             <div class="d-flex justify-content-start pb-0 pt-3">
                                <h5>Login</h5>
                             </div>
                                  
                             <div class="mb-3 d-flex border p-1 rounded">        
                               <input
                                  formControlName="email"
                                  placeholder="Email"
                                  style="font-size: 0.7rem;"
                                  type="text"
                                  class="form-control border-0 email"/>    
                             </div>

                             <div class="mb-1 d-flex border p-1 rounded">  
                               <input
                                  formControlName="password"
                                  placeholder="Password"
                                  style="font-size: 0.7rem;"
                                  autocomplete="on"
                                  type="password"
                                  class="form-control border-0 password"/>   
                             </div>

                             <div class="row justify-content-between pb-3">
                               <div class="col-8">
                                   <div class="float-left">

                                    <input  type="checkbox">

                                      <label class="form-check-label"
                                          style="font-size: 0.8rem;
                                          margin-left: 5px;
                                          color: gray;
                                          font-weight: 550;"
                                          for="flexRadioDefault1" >
                                         Remember Me
                                       </label>
                                     </div>
                               </div>
                             
                             </div>
                                                       
                           </div>
                           <div class="d-flex justify-content-center">     
                               <button
                                  [disabled]="myForm.invalid"
                                  class="botonlogin">
                                  LOGIN
                               </button>
                             </div> 
                           </form>
                          
                           <div class="d-flex justify-content-center pt-4">
                             <div>
                                <a
                                 style="font-size: 0.8rem;text-decoration:underline;" 
                                 routerLink="/auth/password">
                                 I forgot my password
                              </a>
                              </div>
                           </div>

                           <div class="pt-3">
                                 <p style="text-align: center; margin-bottom: 0px;">
                                    Don´t have an account 
                                 </p>
                                               
                               <div style="text-align: center;">       
                                  <a style="font-size: 0.8rem;"
                                    routerLink="/auth/register">
                                    Register
                                  </a>
                               </div>
                          </div>

                        <div class="row p-2">
                           <div class="col-6">
                             <div class="float-left">
                                <a 
                                 style="font-size: 0.8rem;" 
                                 routerLink="#">
                                 Terms of service
                              </a> 
                             </div>
                           </div>
                           <div class="col-6">
                              <div class="float-right">
                                 <a 
                                    style="font-size: 0.8rem;"
                                    routerLink="#">
                                    Privacy Policy
                                 </a>
                             </div>
                           </div>
                        </div>        
               </div>
           </div>
       </div>
   </div>
  </div>


   <div class="loginweb">
      <div class="wrapper">
            <div class="one" style="visibility: hidden;"></div>
           <div class="two">
            <form [formGroup]="myForm" >
               <div class="card-body px-2">  
                    <div class="d-flex justify-content-center loginwebpr pb-0 pt-5">
                       <h2
                         class="pt-3 pb-5"
                         style="color:gray;font-weight: bold;">
                         Login
                      </h2>
                    </div>
                         
                    <div class="mb-3 d-flex border p-1 rounded tamanio">  
                      <input
                         formControlName="email"
                         placeholder="Email"
                         style="font-size: 0.7rem; outline: none;"
                         type="text"
                         class="form-control border-0 email"/>    
                    </div>

                    <div class="mb-1 d-flex border p-1 rounded tamanio">  
                      <input
                         formControlName="password"
                         style="font-size: 0.7rem; outline: none;"
                         placeholder="Password"
                         autocomplete="on"
                         class="form-control border-0 m-0 password"/>     
                    </div>

                    <div class="row justify-content-between pb-3">
                      <div class="col-8">
                          <div class="float-left">
                           <input  type="checkbox">
                             <label class="form-check-label"
                                style="font-size: 0.8rem;
                                       margin-left: 5px;
                                       color: gray;
                                       font-weight: 550;"
                                 for="flexRadioDefault1" >
                                Remember Me
                              </label>
                            </div>
                      </div>       
                    </div>                               
                  </div>

                  <div class="d-flex justify-content-center loginwebpr">  
                      <button 
                        [disabled]="myForm.invalid"  
                         class="botonlogin" (click)="login()" >
                         LOGIN
                      </button>
                  </div> 

                    <div class="d-flex justify-content-center pt-5 loginwebpr">
                     <div>
                        <a 
                         style="font-size: 0.8rem;text-decoration:underline;" 
                         routerLink="/auth/password">I forgot my password</a>
                      </div>
                   </div>

                   <div class="pt-5 loginwebpr">
                         <p style=" font-size: 0.8rem;text-align: center; margin-bottom: 0px;">
                            Don´t have an account 
                         </p>
                                       
                       <div style="text-align: center;">       
                        <a  style="font-size: 0.8rem;"
                            routerLink="/auth/register">
                            Register
                        </a>
                       </div>
                </div>

                <div class="row pt-4 p-2 ">
                   <div class="col-5">
                     <div class="float-left pl-5">
                        <a style="font-size: 0.8rem;"
                         routerLink="#">
                         Terms of service
                       </a> 
                     </div>
                   </div>
                   <div class="col-7">
                      <div class="float-left pr-5 webpolicy">
                         <a style="font-size: 0.8rem;padding-right: 50px;"
                         routerLink="#">Privacy Policy</a>
                     </div>
                   </div>
                </div>
              </form>      
            </div>
          </div>
  </div>
 <app-brand-area></app-brand-area>
</main>
<app-footer></app-footer>