 
<div class="d-flex justify-content-center pb-5">
   <div class="shadow d-block" style="width: 35%; border-radius: 2%;">
      <ul class="list-group list-group-flush m-4">
         <li class="d-flex justify-content-between align-items-center">
            Price
            <span>799,99 €</span>
         </li>
         <li  class="d-flex justify-content-between align-items-center">
            Renewal
            <span>25/09/2021</span>
         </li>
         <li  class="d-flex justify-content-between align-items-center">
            VAT 19%
            <span>151,81 €</span>
         </li>
         <li  class="d-flex justify-content-between align-items-center">
            Total
            <span>950,81 €</span>
         </li>
      </ul>
   </div>

</div>

 
<div class="d-flex flex-row justify-content-center pb-5">
  <div class="shadow d-block" style="width: 35%; border-radius: 5%;">
     <h4 class="text-center pt-2">Attention!</h4>      
      <ul class="list-group list-group-flush m-4">
         <li>no password required, we only need you Intagram username</li>
         <li>the close service is activated automatically after the payment
            confirmation and the insertion of your Instagram account
         </li>
         <li>this subcription is billed automatically on a monthly basis
            but you will be able to cancel it at any time form you client area
         </li>
      </ul>
   </div>
</div>
