<div class="class-content-area pt-130 pb-50">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-xl-8 col-lg-8">
            <div class="class-details-content mb-md-50 mb-xs-50">
               <h3>{{title}}</h3>
               <p class="mb-40">
                  {{subTitle}}
               </p>

               <div class="class-details-thumb mb-50">
                  <img class="img-fluid" src="{{imagenOne}}" alt="thumb">
               </div>
               <p>
                {{textUpImagen}}
               </p>
               <div class="row mb-40">
                  <div class="col-xl-8 col-lg-8 col-md-8">
                     <h3>{{question}}</h3>
                     <p class="mb-40">
                        {{parrafo}}
                     </p>
                     <ul class="icon-list">
                        <li><i class="fas fa-check-double"></i>
                           {{listItemOne}}
                        </li>
                        <li><i class="fas fa-check-double"></i>
                          {{listItemTwo}}
                        </li>
                        <li><i class="fas fa-check-double"></i>
                         {{listItemThree}}
                        </li>
                     </ul>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4">
                     <div class="class-details-thumb">
                        <img class="img-fluid" src="{{imagenParrafo}}" alt="thumb">
                     </div>
                  </div>
               </div>
               <div class="video-wrap-5 mb-40">
                  <img class="img-fluid" src="../../../assets/img/reels/Reels_video.png" alt="thumb">
                  <div class="video-play">
                     <a href="https://www.youtube.com/watch?v=ZIKt1-r3PL0" class="popup-video">
                        <i class="fas fa-play"></i>
                     </a>
                  </div>
               </div>
               <h3>{{TitleDescription}}</h3>
               <p class="mb-40">
                 {{description}}
               </p>
               <h3>{{TitleDescriptionTwo}}</h3>
               <p class="mb-40">
                  {{descriptionTwo}}                  
               </p>

            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-10">
            <div class="sidebar-area">
               <div class="class-widget-wrap mb-30">
                  <div class="search-widget">
                     <form action="#">
                        <input type="text" placeholder="Search">
                        <button><i class="fas fa-search"></i></button>
                     </form>
                  </div>
               </div>
               <div class="class-widget-wrap mb-30">
                  <div class="class-category-widget">
                     <ul>
                        <li><a routerLink="/reels">Reels Visibility</a></li>
                        <li><a routerLink="/autolikes">Like Automatici</a></li>
                        <li><a routerLink="/inclusive">All Inclusive</a></li>
                        <li><a routerLink="/autosaves">Saves Automatic</a></li>
                        <li><a routerLink="/autoviews">Auto Views</a></li>
                        <li><a routerLink="/comments">Vip comments</a></li>
                        <li><a routerLink="/impressions"> Impressions</a></li>
                        <li><a routerLink="/igtv"> Igtv</a></li>
                        <li><a routerLink="/creation"> Content</a></li>
                     </ul>
                  </div>
               </div>
               <div class="class-widget-wrap mb-30">
                  <h3 class="widget-title">Galleria</h3>
                  <div class="class-gallery-widget">
                     <div class="gallery-widget-wrap">
                        <a class="popup-image" href="#">
                           <i class="far fa-eye"></i>
                           <img class="img-fluid" src="{{imagenGridOne}}" alt="Gallery">
                        </a>
                     </div>
                     <div class="gallery-widget-wrap">
                        <a class="popup-image"routerLink="/home">
                           <i class="far fa-eye"></i>
                           <img class="img-fluid" src="{{imagenGridTwo}}" alt="Gallery">
                        </a>
                     </div>
                     <div class="gallery-widget-wrap">
                        <a class="popup-image" routerLink="/home">
                           <i class="far fa-eye"></i>
                           <img class="img-fluid" src="{{imagenGridThree}}" alt="Gallery">
                        </a>
                     </div>
                     <div class="gallery-widget-wrap">
                        <a class="popup-image" routerLink="/home">
                           <i class="far fa-eye"></i>
                           <img class="img-fluid" src="{{imagenGridFour}}" alt="Gallery">
                        </a>
                     </div>
                  </div>
               </div>
               <div class="class-widget-wrap mb-30">
                  <h3 class="widget-title">Tool engagement</h3>
                  <div class="class-download-widget">
                     <ul>
                        <li><a routerLink="/home">Link 1</a></li>
                        <li><a routerLink="/home">Link 2</a></li>
                        <li><a routerLink="/home">Link 3</a></li>
                     </ul>
                  </div>
               </div>
               <div class="class-widget-wrap mb-30">
                  <div class="class-add-widget">
                     <img class="img-fluid" src="../../../assets/img/img-services/Tools_engagment_03.png    " alt="widget">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>