<div class="process-area-2 bg-fix-about pt-130 pb-100">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-xl-12">
            <div class="section-title-2 bar-theme-color text-center mb-35">
               <h3 class="bars" style="color: #0D0D60;">
                  Perché anche i clienti più <br>
                  esigenti hanno scelto Twaper
               </h3>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6 col-lg-3">
            <div class="process-wrap process-dark mb-30">
               <div class="process-icon-wrap">
                  <div class="process-icon">
                     <i>
                        <img  style="width: 50px; padding-bottom: 20px;" src="../../../../assets/icons/escudo_person.svg" alt="person">
                     </i>     
                     <span class="process-number">01</span>
                  </div>
               </div>
               <div class="process-content">
                  <h3>100% sicurezza</h3>
                  <p>
                     La sicurezza degli account
                     è sempre la nostra priorità
                  </p>
               </div>
               <div class="process-next">
                  <i class="fas fa-forward"></i>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-3">
            <div class="process-wrap process-dark mb-30">
               <div class="process-icon-wrap red-gradient">
                  <div class="process-icon">
                     <i >
                        <img  style="width: 50px; padding-bottom: 20px;" src="../../../../assets/icons/analisi.svg" alt="analisi">
                     </i>
                     <span class="process-number">02</span>
                  </div>
                  <div class="process-next">
                     <i class="fas fa-forward"></i>
                  </div>
               </div>
               <div class="process-content">
                  <h3>Analisi costanti</h3>
                  <p>
                     Analizziamo costantemente i
                     cambiamenti degli algoritmi
                  </p>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-3">
            <div class="process-wrap process-dark mb-30">
               <div class="process-icon-wrap red-gradient">
                  <div class="process-icon">
                     <i >
                        <img  style="width: 50px; padding-bottom: 20px;" src="../../../../assets/icons/sempre.svg" alt="sempre">  
                     </i> 
                     <span class="process-number">03</span>
                  </div>
               </div>
               <div class="process-content">
                  <h3>Sempre sintonizzati</h3>
                  <p>
                     Siamo sempre in linea con
                     tutte le richieste di Instagram
                  </p>
               </div>
               <div class="process-next">
                  <i class="fas fa-forward"></i>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-3">
            <div class="process-wrap process-dark mb-30">
               <div class="process-icon-wrap">
                  <div class="process-icon">
                     <i>
                        <img  style="width: 50px; padding-bottom: 20px;" src="../../../../assets/icons/servizi_testati.svg" alt="sempre">  
                     </i>
                     <span class="process-number">04</span>
                  </div>
               </div>
               <div class="process-content">
                  <h3>Servizi testati</h3>
                  <p>
                     Facciamo molte prove per
                     assicurare risultati reali
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



<div class="movil-area-about pt-130 pb-100">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-xl-12">
            <div class="section-title-2 bar-theme-color text-center mb-35">
               <h3 class="bars" style="color: #0D0D60;">
                  Perché anche i clienti più <br>
                  esigenti hanno scelto Twaper
               </h3>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6 col-lg-3">
            <div class="process-wrap process-dark mb-30">
               <div class="process-icon-wrap">
                  <div class="process-icon">
                     <i>
                        <img  style="width: 50px; padding-bottom: 20px;" src="../../../../assets/icons/escudo_person.svg" alt="person">
                     </i>     
                     <span class="process-number">01</span>
                  </div>
               </div>
               <div class="process-content">
                  <h3>100% sicurezza</h3>
                  <p>
                     La sicurezza degli account
                     è sempre la nostra priorità
                  </p>
               </div>
               <div class="process-next">
                  <i class="fas fa-forward"></i>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-3">
            <div class="process-wrap process-dark mb-30">
               <div class="process-icon-wrap red-gradient">
                  <div class="process-icon">
                     <i >
                        <img  style="width: 50px; padding-bottom: 20px;" src="../../../../assets/icons/analisi.svg" alt="analisi">
                     </i>
                     <span class="process-number">02</span>
                  </div>
                  <div class="process-next">
                     <i class="fas fa-forward"></i>
                  </div>
               </div>
               <div class="process-content">
                  <h3>Analisi costanti</h3>
                  <p>
                     Analizziamo costantemente i
                     cambiamenti degli algoritmi
                  </p>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-3">
            <div class="process-wrap process-dark mb-30">
               <div class="process-icon-wrap red-gradient">
                  <div class="process-icon">
                     <i >
                        <img  style="width: 50px; padding-bottom: 20px;" src="../../../../assets/icons/sempre.svg" alt="sempre">  
                     </i> 
                     <span class="process-number">03</span>
                  </div>
               </div>
               <div class="process-content">
                  <h3>Sempre sintonizzati</h3>
                  <p>
                     Siamo sempre in linea con
                     tutte le richieste di Instagram
                  </p>
               </div>
               <div class="process-next">
                  <i class="fas fa-forward"></i>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-3">
            <div class="process-wrap process-dark mb-30">
               <div class="process-icon-wrap">
                  <div class="process-icon">
                     <i>
                        <img  style="width: 50px; padding-bottom: 20px;" src="../../../../assets/icons/servizi_testati.svg" alt="sempre">  
                     </i>
                     <span class="process-number">04</span>
                  </div>
               </div>
               <div class="process-content">
                  <h3>Servizi testati</h3>
                  <p>
                     Facciamo molte prove per
                     assicurare risultati reali
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>