<app-navbar></app-navbar>
<main>
   <app-header [title]="title" [imagen]="imagen" [subTitle]="subTitle"></app-header>
   <app-content 
     title="AUTO LIKES"
     subTitle="{{ 'SUBTITLE_AUTOLIKES' | translate }}"

     imagenOne="../../../../assets/img/autolikes/auto_likes_03.png"
     textUpImagen="{{ 'TEXTUP_IMAGEN_AUTOLIKES' | translate }}"
  
     question="{{'QUESTION_AUTOLIKES' | translate }}"
     parrafo="{{ 'PARAGRAPH_AUTOLIKES' | translate}}"

     listItemOne="{{ 'LIST_ITEM_ONE_AUTOLIKES' | translate}}"
     listItemTwo="{{ 'LIST_ITEM_TWO_AUTOLIKES' | translate }}"
     listItemThree="{{ 'LIST_ITEM_THREE_AUTOLIKES' | translate}}"
     imagenParrafo="../../../../assets/img/autolikes/auto_likes_04.png"
  
     TitleDescription="{{'TITLE_DESCRIPTION_ONE_AUTOLIKES' | translate}}"
     description="{{ 'DESCRIPTION_ONE_AUTOLIKES' | translate}}"

     TitleDescriptionTwo="{{ 'TITLE_DESCRIPTION_TWO_AUTOLIKES' | translate}}"
     descriptionTwo="{{'DESCRIPTION_TWO_AUTOLIKES' | translate }}"

     imagenGridOne="../../../../assets/img/autolikes/auto_likes_05.png"
     imagenGridTwo="../../../../assets/img/autolikes/auto_likes_06.png"
     imagenGridThree="../../../../assets/img/autolikes/auto_likes_07.png"
     imagenGridFour="../../../../assets/img/autolikes/auto_likes_08.png"
    ></app-content>


       <!-- paquete smalll o  Petite -->
   <app-cards-packages 
   cardStyle="card-seven-item"
   fontStyle="negro"
   bars="bars_azul"
   image='../../../assets/img/autosaves/pacchetti_petite.png'
   title="{{ 'TITLE_SMALL_PACKAGE' | translate}}"
   titleParteOne="{{'TITLE_SMALL_PACKAGE_LIKES_PART_ONE' | translate}}"
   titleParteTwo="{{'TITLE_SMALL_PACKAGE_LIKES_PART_TWO' | translate}}"
   [paquetes]="paquetes.paquetesSmall"
></app-cards-packages>

<!-- paquete micro -->
<app-cards-packages 
   cardStyle="card-seven-item"
   fontStyle="negro"
   bars="bars_fucsia"
   image='../../../assets/img/autosaves/pacchetti_micro.png'
   title="{{ 'TITLE_MICRO_PACKAGE' | translate}}"
   titleParteOne="{{'TITLE_MICRO_PACKAGE_LIKES_PART_ONE' | translate}}"
   titleParteTwo="{{'TITLE_MICRO_PACKAGE_LIKES_PART_TWO' | translate}}"
   [paquetes]="paquetes.paquetesMicro"
></app-cards-packages>

<!-- paquete Giga -->
<app-cards-packages 
   cardStyle="card-seven-item"
   fontStyle="negro"
   bars="bars_morado"
   image='../../../assets/img/autosaves/pacchetti_giga.png'
   title="{{ 'TITLE_GIGA_PACKAGE' | translate}}"
   titleParteOne="{{'TITLE_GIGA_PACKAGE_LIKES_PART_ONE' | translate}}"
   titleParteTwo="{{'TITLE_GIGA_PACKAGE_LIKES_PART_TWO' | translate}}"
   [paquetes]="paquetes.paquetesGiga"
></app-cards-packages>


<!-- paquete Vip -->
<app-cards-packages 
   cardStyle="card-seven-item-white"
   fontStyle="negro"
   bars="bars_azul_fuerte"
   image='../../../assets/img/autosaves/pacchetti_vip.png'
   title="{{ 'TITLE_VIP_PACKAGE' | translate}}"
   titleParteOne="{{'TITLE_VIP_PACKAGE_LIKES_PART_ONE' | translate}}"
   titleParteTwo="{{'TITLE_VIP_PACKAGE_LIKES_PART_TWO' | translate}}"
   [paquetes]="paquetes.paquetesGiga"
></app-cards-packages>

   <app-brand-area></app-brand-area>
</main>
<app-footer></app-footer>