.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
   color: #212529;
   background-color: #fff;
   border-color: #d3d9df;
}


.btn-light {
   color: #212529;
   background-color: #f8f9fa !important;
   border-color: #f8f9fa !important;
   padding-bottom: 11px;
}