.border{
   border:1px solid #B125EC !important;
   border-radius: 12px !important;
}

.textfiel:focus{
   outline: none;
   box-shadow: none; 
}

.textfiel:focus{
   outline: none;
   box-shadow: none 
}

.botonlogin{
   color: #fff;
   background-color: #B125EC;
   border: none;
   width: 150px;
   padding: 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 12px;
}

.wrapper {
   display: grid;
   grid-template-columns:48% 48%;

   grid-gap: 10px;
   grid-auto-rows: minmax(100px, auto);
 }

 .two {
   grid-row: 1 / 8;
   background-color: transparent;
 }

 .one{
   grid-row: 1 / 8;
   background-color: aqua;
 }


