.bg-fix {
   background-image: url("../../../../assets/img/img-services/tutti_servizi_bkg_05.png");
   background-repeat: no-repeat;
   background-size: 100% 590px;
   background-position: center center;
}

.section-title-2.text-center h3:before {
  left: 50%;
  transform: translateX(-50%);
}

.section-title-2 {
  position: relative;
  z-index: 1;
}

.section-title-2 .bars {
  padding-top: 40px;
  text-align: center;
}
.section-title-2 .bars:before {
  content: "";
  background: #fff;
  width: 50px;
  height: 4px;
  align-self: center;
  position: absolute;
  top: 0px;
  margin: 0 auto;
}

.pt-30{
   padding-top: 30px;
}

.pb-100{
   padding-bottom: 100px;
}

.mt-130{
   margin-top: 130px;
}

.mb-60{
   margin-bottom: 60px;
}

.service-wrap-3 {
   padding: 35px 35px 60px;
   background: #fff;
   text-align: center;
   position: relative;
 }
 @media (min-width: 992px) and (max-width: 1200px) {
   .service-wrap-3 {
     padding: 35px 15px 60px;
   }
 }
 @media (max-width: 767px) {
   .service-wrap-3 {
     padding: 35px 15px 60px;
   }
 }
 .service-wrap-3:hover:before {
   visibility: visible;
   opacity: 1;
 }
 .service-wrap-3:before {
   content: "";
   width: 100%;
   height: 5px;
   position: absolute;
   bottom: 0;
   left: 0;
   background: #e63a34;
   background-image: -moz-linear-gradient(-72deg, #e63a34 0%, #ee7349 99%);
   background-image: -webkit-linear-gradient(-72deg, #e63a34 0%, #ee7349 99%);
   background-image: -ms-linear-gradient(-72deg, #e63a34 0%, #ee7349 99%);
   visibility: hidden;
   opacity: 0;
   -webkit-transition: all 0.3s linear 0s;
   -moz-transition: all 0.3s linear 0s;
   -ms-transition: all 0.3s linear 0s;
   -o-transition: all 0.3s linear 0s;
   transition: all 0.3s linear 0s;
 }
 .service-wrap-3 .service-icon {
   position: relative;
   z-index: 1;
   padding: 10px 0;
 }
 .service-wrap-3 .service-icon .icon {
   display: inline-block;
   width: 80px;
   height: 80px;
   /* line-height: 10px; */
   border-radius: 50%;
   color: #fff;
   background: rgb(34,215,252);
   background: linear-gradient(90deg, rgba(34,215,252,1) 2%, rgba(107,95,245,1) 8%, rgba(177,37,236,1) 58%, rgba(250,60,200,1) 78%);
 }
 .service-wrap-3 .service-icon .num {
   font-family: "Teko", sans-serif;
   font-weight: 600;
   font-size: 140px;
   line-height: 80px;
   position: absolute;
   left: 50%;
   top: 0;
   transform: translateX(-50%);
   z-index: -1;
   color: rgba(16, 16, 16, 0.2);
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: rgba(16, 16, 16, 0.2);
 }
 .service-wrap-3 .service-content h3 {
   font-size: 20px;
   line-height: 28px;
   font-weight: 600;
   margin-bottom: 15px;
   color: #29282d;
 }

 .service-wrap-3 .service-content h3 a {
   color:#000 ;
 }
 
 .service-wrap-3 .service-content p {
   color: #8e8e8e;
   font-size: 16px;
   line-height: 20px;
   margin-bottom: 0;
 }
 .service-wrap-3 .service-content .read-more {
   color: #8e8e8e;
   font-size: 14px;
   text-transform: uppercase;
   font-weight: 700;
   margin-top: 20px;
   display: inline-block;
 }
 .service-wrap-3 .service-content .read-more i {
   margin-left: 5px;
 }
 .service-wrap-3 .service-content .read-more:hover {
   color: #B125EC;
 }


 .movil-area-service-packages{
   display: none;
 }

 .movil-bars{
  height: 2px;
  width: 20%;
  background-color: #FA3CC8;
}


 @media (max-width: 575.98px) { 

  .movil-area-service-packages{
    display: block;
    background: rgb(95,245,190);
    background: linear-gradient(167deg, rgba(95,245,190,1) 0%, rgba(95,108,245,1) 26%, rgba(106,107,245,1) 48%, rgba(243,95,245,1) 86%);
    height: 104vh;
  }

  .service-area-2 {
    display: none;
  }

  .service-wrap-3 .service-content p {
    color: #8e8e8e;
    font-size: 0.8rem;
    line-height: 16px;
    margin-bottom: 0;
}

 }

 @media (max-width: 320.98px) { 

  .movil-area-service-packages{
    display: block;
    background: rgb(95,245,190);
    background: linear-gradient(167deg, rgba(95,245,190,1) 0%, rgba(95,108,245,1) 26%, rgba(106,107,245,1) 48%, rgba(243,95,245,1) 86%);
    height: 107vh;
  }

  .service-area-2 {
    display: none;
  }
  

 }