<div class="testimonial-area-2 pt-130  bk-image" style="height: 730px;">
	<div class="container position-relative">
		<div class="d-flex justify-content-center">

			<div class="section-title-2 text-center text-white ">
				<h3 class="bars">
					Le testimonianze <br> dei nostri clienti
				</h3>
				<span>
					Teniamo molto alla tua privacy ed a quella di tutti i nostri <br>
					clienti, per questo leggerai qui sotto cosa pensano dei nostri servizi,<br>
					ma non chi ha scritto le recensioni.
				</span>
			</div>

		</div>

		<div class="container pt-5">
			<carousel [autoplay]="true" [autoplayInterval]="3000"
			   [transitionDuration]=2000 [freeScroll]="true"
				[arrowsOutside]="false" [loop]="true" [cellWidth]="'100%'"
				style="height: 470px;position: relative;z-index: 100;">

				<div class="carousel-cell large-width">

						<div class="testimonial-wrap-2">
							<div class="testimonial-content">
								<p>
									“Il vantaggio più grande è l’engagement che esplode. La maggior parte delle collaborazioni
									con brand richiedono screenshot delle statistiche dell’account, ma siccome nel 2021
									l’algoritmo non ci aiuta a raggiungere abbastanza persone del nostro pubblico il pacchetto
									All Inclusive mi ha sostenuto con la spinta iniziale. Sono in TOP negli hashtag quasi su ogni
									post. Superconsigliato !!!”
								</p>
							</div>
							<div class="author-info">
								<h4>Twaper per influencer, <span>Recensione lasciata da un cliente con 67k followers</span></h4>
							</div>
						</div>
				</div>

				<div class="carousel-cell large-width">
						<div class="testimonial-wrap-2">
							<div class="testimonial-content">
								<p>
									“”Noi siamo riusciti a crescere di 63 followers nell’ultima settimana perché abbiamo
									raggiunto un gran numero di persone, andando su Explore 3 volte su 5. Certo, ci sono post che
									vanno meglio di altri ma questo ci fa capire che stiamo pagando per una crescita organica
									quindi se il post piace otteniamo dei bei risultati. Noi abbiamo scelto la combinazione tra
									All Inclusive + Commenti ”
								</p>
							</div>
							<div class="author-info">
								<h4>Twaper per aziende, <span>Azienda di assicurazioni con 2,9 k followers</span></h4>
							</div>
						</div>
				</div>

				<div class="carousel-cell large-width">
						<div class="testimonial-wrap-2">
							<div class="testimonial-content">
								<p>
									“Partire su Instagram ora è impossibile senza un aiuto. Ho scelto il pacchetto più piccolo in
									assoluto, All inclusive Petite (o qualcosa di simile) e mi ha dato delle vere soddisfazioni
									(ero molto scettica). Grazie a questo ho ottenuto 3 shoutout su grandi account di viaggi.
									Come risultato sono cresciuta di 200 followers in pochi giorni. Presto farò un upgrade perchè
									ormai il pacchetto mi sta piccolo. ”
								</p>
							</div>
							<div class="author-info">
								<h4>Twaper per nuovi account , <span>Cliente con circa 1500 followers (con noi dai 700
										ca.)</span></h4>
							</div>
						</div>
				</div>

				<div class="carousel-cell large-width">
						<div class="testimonial-wrap-2">
							<div class="testimonial-content">
								<p>
									Abbiamo chiesto al cliente di scrivere due righe per le persone che stanno valutando di
									acquistare un pacchetto, spiegando il perchè.
									“E’ un investimento che ritorna. Aiuta l’immagine in generale, ma soprattutto aiuta davvero a
									crescere. Gli Ebook gratuiti sono ottimi e danno informazioni ben studiate e veramente
									utili.”

								</p>
							</div>
							<div class="author-info">
								<h4>Twaper per tutti, <span>Cliente con 5k followers</span></h4>
							</div>
						</div>
				</div>
			</carousel>
		</div>
	</div>
</div>


<div class="movil-testimonial-area">
    <div class="container"> 
		<div class="d-flex justify-content-center">
			<h2 class="title-movil-testimonianze pt-2">TEZTIMONIANZE</h2>
		</div>
		<div class="text-center">
			<hr class="movil-bars">
		    <h3 style="color:#fff; padding-top: 3px; font-size: 1.2rem;" >
				{{'BESTSELLERS_TITLE' | translate}}<br>
			   {{ 'BESTSELLERS_TITLE_PART_TWO' | translate }}
			</h3>
	  </div>

	  <div class="d-flex justify-content-center align-items-center">
		
			<div class="swiper-slide">
				<img class="img-fluid redondo"  width="100" src="../../../../assets/img/author-lg-1.jpg" alt="author">
			</div>
			<div class="swiper-slide">
				<img class="img-fluid redondo" width="90"  src="../../../../assets/img/author-lg-1.jpg" alt="author">

			</div>
			<div class="swiper-slide">
				<img class="img-fluid redondo"  width="70" src="../../../../assets/img/author-lg-1.jpg" alt="author">

			</div>
			<div class="swiper-slide">
				<img class="img-fluid redondo" width="50" src="../../../../assets/img/author-lg-1.jpg" alt="author">

			</div>
		
	</div>

       <div class="container">
           
			<carousel
			   class="movil-testimonial-carousel" 
			   [autoplay]="true" [autoplayInterval]="3000"
			   [transitionDuration]=2000 [freeScroll]="true"
			   [arrowsOutside]="false" [loop]="true" [cellWidth]="'100%'"
			   style="height: 370px;position: relative;z-index: 100;">
			  

				<div class="carousel-cell">
					<div class="testimonial-wrap-2">
						<div class="testimonial-content">
							<p>
								Abbiamo chiesto al cliente di scrivere due righe per le persone che stanno valutando di
								acquistare un pacchetto, spiegando il perchè.
								“E’ un investimento che ritorna. Aiuta l’immagine in generale, ma soprattutto aiuta davvero a
								crescere. Gli Ebook gratuiti sono ottimi e danno informazioni ben studiate e veramente
								utili.”

							</p>
						</div>
						<div class="author-info">
							<h4><span>Cliente con 5k followers</span></h4>
						</div>
					</div>
			</div>

		
		    </carousel>
	   </div>


	 </div>
</div>