<app-navbar></app-navbar>
<main>
   <app-header [title]="title" [imagen]="imagen" [subTitle]="subTitle"></app-header>
   <app-content 
    title="ALL INCLUSIVE"
    subTitle="Carica un post e ricevi l’engagement necessario per ottenere visibilità a 360°, il tutto
    perfettamente bilanciato con i volumi del tuo account. Studiati e creati per ogni 
    tipo di profilo e per ogni budget."
    imagenOne="../../../../assets/img/inclusive/all_inclusive_03.png"
    textUpImagen="Gestiamo profili social da quasi 5 anni, i nostri esperti hanno studiato i pack all inclusive
    per combinare tutte le interazioni indispensabili ad ottenere dei risultati naturali"
    question="Perchè All Inclusive?"
    parrafo="Combina Likes, Saves, Impression e Views in modo
    bilanciato e naturale replicando fedelmente le reali
    interazioni degli utenti"
    listItemOne="I pacchetti All Inclusive inviano molteplici input
    all’algoritmo contemporaneamente ma senza mai
    violarne le regole e rispettando la privacy"
    listItemTwo="Le interazioni vengono ricevute nella prima ora 
    di vita del tuo post perchè entro i primi 60 minuti
    il tuo post riceve i boost per raggiungere Explora"
    listItemThree="Risparmi molto di più acquistando il pacchetto intero 
    che acquistare ogni servizio singolo e non devi
    fornire la password del tuo account Instagram."
    imagenParrafo="../../../../assets/img/inclusive/all_inclusive_04.png"
    TitleDescription="Pacchetti All Inclusive"
    description="Quando tutte le interazioni sono perfettamente bilanciate arrivano i migliori risultati.
    Affidati ai nostri professionisti e beneficia degli aggiornamenti costanti che apportiamo
    ai nostri pacchetti All inclusive. Seguiamo delle regole scrupolose e possediamo degli
    algoritmi che regolano le proporzioni tra impression, views, like e save."
    imagenGridOne="../../../../assets/img/inclusive/all_inclusive_05.png"
    imagenGridTwo="../../../../assets/img/inclusive/all_inclusive_06.png"
    imagenGridThree="../../../../assets/img/inclusive/all_inclusive_07.png"
    imagenGridFour="../../../../assets/img/inclusive/all_inclusive_08.png"
   ></app-content>


   







<!-- 

 <app-xl-package
   bars="bars_azul"
   color="#22D7FC"
   image='../../../assets/img/autosaves/pacchetti_petite.png'
   title="{{ 'TITLE_SMALL_PACKAGE' | translate}}"
   titleParteOne="{{'TITLE_SMALL_INCLUSIVE_PART_ONE' | translate}}"
   titleParteTwo="{{'TITLE_SMALL_INCLUSIVE_PART_TWO' | translate}}"

   oneCardPrice="{{ 'ONE_CARD_PRICE_INCLUSIVE' | translate }}"
   cardMonth="{{'MONTH' | translate }}"
   oneCardPetite="{{ 'ONE_CARD_PETITE_INCLUSIVE' | translate }}"
   oneCardItemOne="{{'ONE_CARD_ITEM_ONE_INCLUSIVE' | translate }}"
   cardItemTwo="{{ 'CARD_ITEM_TWO_INCLUSIVE' | translate }}"
   oneCardItemThree="{{'ONE_CARD_ITEM_THREE_INCLUSIVE' | translate }}"
   cardItemFour="{{ 'CARD_ITEM_FOUR_INCLUSIVE' | translate }}"
   cardItemFive="{{ 'CARD_ITEM_FIVE_INCLUSIVE' | translate }}"
   cardItemSix="{{ 'CARD_ITEM_SIX_INCLUSIVE' | translate }}"
   cardItemSeven="{{ 'CARD_ITEM_SEVEN_INCLUSIVE' | translate }}"

 cardItemEight="{{ 'CARD_ITEM_EIGHT_INCLUSIVE' | translate }}"
 cardItemNine="{{ 'CARD_ITEM_NINE_INCLUSIVE' | translate }}"
 cardItemTen="{{ 'CARD_ITEM_TEN_INCLUSIVE' | translate }}"

 twoCardPrice="{{ 'TWO_CARD_PRICE_INCLUSIVE' | translate }}"
 twoCardPetite="{{ 'TWO_CARD_PETITE_INCLUSIVE' | translate }}"
 twoCardItemOne="{{'TWO_CARD_ITEM_ONE_INCLUSIVE' | translate}}"
 twoCardItemTwo="{{ 'TWO_CARD_ITEM_TWO_INCLUSIVE' | translate }}"
 twoCardItemThree= "{{'TWO_CARD_ITEM_THREE_INCLUSIVE' | translate }}"
 twoCardItemFour="{{'TWO_CARD_ITEM_FOUR_INCLUSIVE' | translate }}"
 twoCardItemFive="{{'TWO_CARD_ITEM_FIVE_INCLUSIVE' | translate }}"
 twoCardItemSix="{{'TWO_CARD_ITEM_SIX_INCLUSIVE' | translate }}"
 twoCardItemSeven="{{'TWO_CARD_ITEM_SEVEN_INCLUSIVE' | translate }}"
 twoCardItemEight="{{'TWO_CARD_ITEM_EIGHT_INCLUSIVE' | translate }}"

 threeCardPrice="{{ 'THREE_CARD_PRICE_INCLUSIVE' | translate }}"
 threeCardPetite="{{ 'THREE_CARD_PETITE' | translate }}"
 threeCardItemOne="{{'THREE_CARD_ITEM_ONE' | translate }}"
 threeCardItemTwo="{{ 'THREE_CARD_ITEM_TWO_INCLUSIVE' | translate }}"
 threeCardItemThree= "{{'THREE_CARD_ITEM_THREE_INCLUSIVE' | translate }}"
 threeCardItemFour="{{'THREE_CARD_ITEM_FOUR_INCLUSIVE' | translate }}"
 threeCardItemFive="{{'THREE_CARD_ITEM_FIVE_INCLUSIVE' | translate }}"
 threeCardItemSix="{{'THREE_CARD_ITEM_SIX_INCLUSIVE' | translate }}"
 threeCardItemSeven="{{'THREE_CARD_ITEM_SEVEN_INCLUSIVE' | translate }}"
 threeCardItemEight="{{'THREE_CARD_ITEM_EIGHT_INCLUSIVE' | translate }}"

></app-xl-package>


<app-xl-package
bars="bars_fucsia"
color="#FA3CC8"
image='../../../assets/img/autosaves/pacchetti_micro.png'
title="{{ 'TITLE_MICRO_PACKAGE' | translate}}"
titleParteOne="{{'TITLE_MICRO_INCLUSIVE_PART_ONE' | translate}}"
titleParteTwo="{{'TITLE_MICRO_INCLUSIVE_PART_TWO' | translate}}"

oneCardPrice="{{ 'ONE_CARD_PRICE_MICRO_INCLUSIVE' | translate }}"
cardMonth="{{'MONTH' | translate }}"
oneCardPetite="{{ 'ONE_CARD_MICRO_INCLUSIVE' | translate }}"
oneCardItemOne="{{'ONE_CARD_ITEM_ONE_MICRO_INCLUSIVE' | translate }}"
cardItemTwo="{{ 'CARD_ITEM_TWO_MICRO_INCLUSIVE' | translate }}"
oneCardItemThree="{{'ONE_CARD_ITEM_THREE_MICRO_INCLUSIVE' | translate }}"
cardItemFour="{{ 'CARD_ITEM_FOUR_MICRO_INCLUSIVE' | translate }}"
cardItemFive="{{ 'CARD_ITEM_FIVE_MICRO_INCLUSIVE' | translate }}"
cardItemSix="{{ 'CARD_ITEM_SIX_MICRO_INCLUSIVE' | translate }}"
cardItemSeven="{{ 'CARD_ITEM_SEVEN_MICRO_INCLUSIVE' | translate }}"
cardItemEight="{{ 'CARD_ITEM_EIGHT_MICRO_INCLUSIVE' | translate }}"

cardItemNine="{{ 'CARD_ITEM_NINE_INCLUSIVE' | translate }}"
cardItemTen="{{ 'CARD_ITEM_TEN_INCLUSIVE' | translate }}"

twoCardPrice="{{ 'TWO_CARD_PRICE_MICRO_INCLUSIVE' | translate }}"
twoCardPetite="{{ 'TWO_CARD_MICRO_INCLUSIVE' | translate }}"
twoCardItemOne="{{'TWO_CARD_ITEM_ONE_MICRO_INCLUSIVE' | translate}}"
twoCardItemTwo="{{ 'TWO_CARD_ITEM_TWO_MICRO_INCLUSIVE' | translate }}"
twoCardItemThree= "{{'TWO_CARD_ITEM_THREE_MICRO_INCLUSIVE' | translate }}"
twoCardItemFour="{{'TWO_CARD_ITEM_FOUR_MICRO_INCLUSIVE' | translate }}"
twoCardItemFive="{{'TWO_CARD_ITEM_FIVE_MICRO_INCLUSIVE' | translate }}"
twoCardItemSix="{{'TWO_CARD_ITEM_SIX_MICRO_INCLUSIVE' | translate }}"
twoCardItemSeven="{{'TWO_CARD_ITEM_SEVEN_MICRO_INCLUSIVE' | translate }}"
twoCardItemEight="{{'TWO_CARD_ITEM_EIGHT_MICRO_INCLUSIVE' | translate }}"

threeCardPrice="{{ 'THREE_CARD_PRICE_MICRO_INCLUSIVE' | translate }}"
threeCardPetite="{{ 'THREE_CARD_MICRO_INCLUSIVE' | translate }}"
threeCardItemOne="{{'THREE_CARD_ITEM_ONE_MICRO_INCLUSIVE' | translate }}"
threeCardItemTwo="{{ 'THREE_CARD_ITEM_TWO_MICRO_INCLUSIVE' | translate }}"
threeCardItemThree= "{{'THREE_CARD_ITEM_THREE_MICRO_INCLUSIVE' | translate }}"
threeCardItemFour="{{'THREE_CARD_ITEM_FOUR_MICRO_INCLUSIVE' | translate }}"
threeCardItemFive="{{'THREE_CARD_ITEM_FIVE_MICRO_INCLUSIVE' | translate }}"
threeCardItemSix="{{'THREE_CARD_ITEM_SIX_MICRO_INCLUSIVE' | translate }}"
threeCardItemSeven="{{'THREE_CARD_ITEM_SEVEN_MICRO_INCLUSIVE' | translate }}"
threeCardItemEight="{{'THREE_CARD_ITEM_EIGHT_MICRO_INCLUSIVE' | translate }}"

></app-xl-package>

 

<app-xl-package
bars="bars_morado"
color="#B125EC"
image='../../../assets/img/autosaves/pacchetti_giga.png'
title="{{ 'TITLE_GIGA_PACKAGE' | translate}}"
titleParteOne="{{'TITLE_GIGA_INCLUSIVE_PART_ONE' | translate}}"
titleParteTwo="{{'TITLE_GIGA_INCLUSIVE_PART_TWO' | translate}}"

oneCardPrice="{{ 'ONE_CARD_PRICE_GIGA_INCLUSIVE' | translate }}"
cardMonth="{{'MONTH' | translate }}"
oneCardPetite="{{ 'ONE_CARD_GIGA_INCLUSIVE' | translate }}"
oneCardItemOne="{{'ONE_CARD_ITEM_ONE_GIGA_INCLUSIVE' | translate }}"
cardItemTwo="{{ 'CARD_ITEM_TWO_GIGA_INCLUSIVE' | translate }}"
oneCardItemThree="{{'ONE_CARD_ITEM_THREE_GIGA_INCLUSIVE' | translate }}"
cardItemFour="{{ 'CARD_ITEM_FOUR_GIGA_INCLUSIVE' | translate }}"
cardItemFive="{{ 'CARD_ITEM_FIVE_GIGA_INCLUSIVE' | translate }}"
cardItemSix="{{ 'CARD_ITEM_SIX_GIGA_INCLUSIVE' | translate }}"
cardItemSeven="{{ 'CARD_ITEM_SEVEN_GIGA_INCLUSIVE' | translate }}"
cardItemEight="{{ 'CARD_ITEM_EIGHT_GIGA_INCLUSIVE' | translate }}"

cardItemNine="{{ 'CARD_ITEM_NINE_INCLUSIVE' | translate }}"
cardItemTen="{{ 'CARD_ITEM_TEN_INCLUSIVE' | translate }}"

twoCardPrice="{{ 'TWO_CARD_PRICE_GIGA_INCLUSIVE' | translate }}"
twoCardPetite="{{ 'TWO_CARD_GIGA_INCLUSIVE' | translate }}"
twoCardItemOne="{{'TWO_CARD_ITEM_ONE_GIGA_INCLUSIVE' | translate}}"
twoCardItemTwo="{{ 'TWO_CARD_ITEM_TWO_GIGA_INCLUSIVE' | translate }}"
twoCardItemThree= "{{'TWO_CARD_ITEM_THREE_GIGA_INCLUSIVE' | translate }}"
twoCardItemFour="{{'TWO_CARD_ITEM_FOUR_GIGA_INCLUSIVE' | translate }}"
twoCardItemFive="{{'TWO_CARD_ITEM_FIVE_GIGA_INCLUSIVE' | translate }}"
twoCardItemSix="{{'TWO_CARD_ITEM_SIX_GIGA_INCLUSIVE' | translate }}"
twoCardItemSeven="{{'TWO_CARD_ITEM_SEVEN_GIGA_INCLUSIVE' | translate }}"
twoCardItemEight="{{'TWO_CARD_ITEM_EIGHT_GIGA_INCLUSIVE' | translate }}"

threeCardPrice="{{ 'THREE_CARD_PRICE_GIGA_INCLUSIVE' | translate }}"
threeCardPetite="{{ 'THREE_CARD_GIGA_INCLUSIVE' | translate }}"
threeCardItemOne="{{'THREE_CARD_ITEM_ONE_GIGA_INCLUSIVE' | translate }}"
threeCardItemTwo="{{ 'THREE_CARD_ITEM_TWO_GIGA_INCLUSIVE' | translate }}"
threeCardItemThree= "{{'THREE_CARD_ITEM_THREE_GIGA_INCLUSIVE' | translate }}"
threeCardItemFour="{{'THREE_CARD_ITEM_FOUR_GIGA_INCLUSIVE' | translate }}"
threeCardItemFive="{{'THREE_CARD_ITEM_FIVE_GIGA_INCLUSIVE' | translate }}"
threeCardItemSix="{{'THREE_CARD_ITEM_SIX_GIGA_INCLUSIVE' | translate }}"
threeCardItemSeven="{{'THREE_CARD_ITEM_SEVEN_GIGA_INCLUSIVE' | translate }}"
threeCardItemEight="{{'THREE_CARD_ITEM_EIGHT_GIGA_INCLUSIVE' | translate }}"

></app-xl-package>



<app-xl-package
bars="bars_azul_fuerte"
color="#6B5FF5"
image='../../../assets/img/autosaves/pacchetti_vip.png'
title="{{ 'TITLE_VIP_PACKAGE' | translate}}"
titleParteOne="{{'TITLE_VIP_INCLUSIVE_PART_ONE' | translate}}"
titleParteTwo="{{'TITLE_VIP_INCLUSIVE_PART_TWO' | translate}}"

oneCardPrice="{{ 'ONE_CARD_PRICE_VIP_INCLUSIVE' | translate }}"
cardMonth="{{'MONTH' | translate }}"
oneCardPetite="{{ 'ONE_CARD_VIP_INCLUSIVE' | translate }}"
oneCardItemOne="{{'ONE_CARD_ITEM_ONE_VIP_INCLUSIVE' | translate }}"
cardItemTwo="{{ 'CARD_ITEM_TWO_VIP_INCLUSIVE' | translate }}"
oneCardItemThree="{{'ONE_CARD_ITEM_THREE_VIP_INCLUSIVE' | translate }}"
cardItemFour="{{ 'CARD_ITEM_FOUR_VIP_INCLUSIVE' | translate }}"
cardItemFive="{{ 'CARD_ITEM_FIVE_VIP_INCLUSIVE' | translate }}"
cardItemSix="{{ 'CARD_ITEM_SIX_VIP_INCLUSIVE' | translate }}"
cardItemSeven="{{ 'CARD_ITEM_SEVEN_VIP_INCLUSIVE' | translate }}"
cardItemEight="{{ 'CARD_ITEM_EIGHT_VIP_INCLUSIVE' | translate }}"

cardItemNine="{{ 'CARD_ITEM_NINE_INCLUSIVE' | translate }}"
cardItemTen="{{ 'CARD_ITEM_TEN_INCLUSIVE' | translate }}"

twoCardPrice="{{ 'TWO_CARD_PRICE_VIP_INCLUSIVE' | translate }}"
twoCardPetite="{{ 'TWO_CARD_VIP_INCLUSIVE' | translate }}"
twoCardItemOne="{{'TWO_CARD_ITEM_ONE_VIP_INCLUSIVE' | translate}}"
twoCardItemTwo="{{ 'TWO_CARD_ITEM_TWO_VIP_INCLUSIVE' | translate }}"
twoCardItemThree= "{{'TWO_CARD_ITEM_THREE_VIP_INCLUSIVE' | translate }}"
twoCardItemFour="{{'TWO_CARD_ITEM_FOUR_VIP_INCLUSIVE' | translate }}"
twoCardItemFive="{{'TWO_CARD_ITEM_FIVE_VIP_INCLUSIVE' | translate }}"
twoCardItemSix="{{'TWO_CARD_ITEM_SIX_VIP_INCLUSIVE' | translate }}"
twoCardItemSeven="{{'TWO_CARD_ITEM_SEVEN_VIP_INCLUSIVE' | translate }}"
twoCardItemEight="{{'TWO_CARD_ITEM_EIGHT_VIP_INCLUSIVE' | translate }}"

threeCardPrice="{{ 'THREE_CARD_PRICE_VIP_INCLUSIVE' | translate }}"
threeCardPetite="{{ 'THREE_CARD_VIP_INCLUSIVE' | translate }}"
threeCardItemOne="{{'THREE_CARD_ITEM_ONE_VIP_INCLUSIVE' | translate }}"
threeCardItemTwo="{{ 'THREE_CARD_ITEM_TWO_VIP_INCLUSIVE' | translate }}"
threeCardItemThree= "{{'THREE_CARD_ITEM_THREE_VIP_INCLUSIVE' | translate }}"
threeCardItemFour="{{'THREE_CARD_ITEM_FOUR_VIP_INCLUSIVE' | translate }}"
threeCardItemFive="{{'THREE_CARD_ITEM_FIVE_VIP_INCLUSIVE' | translate }}"
threeCardItemSix="{{'THREE_CARD_ITEM_SIX_VIP_INCLUSIVE' | translate }}"
threeCardItemSeven="{{'THREE_CARD_ITEM_SEVEN_VIP_INCLUSIVE' | translate }}"
threeCardItemEight="{{'THREE_CARD_ITEM_EIGHT_VIP_INCLUSIVE' | translate }}"

></app-xl-package> -->

   <app-brand-area></app-brand-area>
</main>
<app-footer></app-footer>