<section class="breadcrumb-area pt-180 pb-180 pt-md-120 pb-md-120 pt-xs-100 pb-xs-100 bg-fix"
 style="
   background-image: url('{{imagen}}');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="breadcrumb-content">
						<h3 class="title">{{title}}</h3>
						<ul>
							<li><a routerLink="/home">Home</a></li>
							<li class="active">{{subTitle}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
