<div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div>
               <h1 class="title-coming">Coming Soon</h1>
            </div>
         </div>
          <div class="d-flex justify-content-center">
            <div>
               <p class="subtitle-coming text-center">
                  Stiamo lavorando per portarvi gli strumenti e i servizi più interessanti.<br>
                  Restate sintonizzati per le novità!
               </p>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <div class="contenedor">
               <img
                 class="img-fluid"
                 src="../../../assets/img/utils/button_gradi.png"
                 alt="buttongradi">
                 <p 
                  type="button" (click)="goHome()" 
                  class="texto-boton text-center">Torna al sito</p>
            </div>
          </div>


          <div class="d-flex justify-content-center">
               <img
                 class="imagen"
                 src="../../../assets/img/utils/coming_soon_illustration.png"
                 alt="buttongradi">
          </div>
     
    </div>
</div>