<app-navbar></app-navbar>
<main>
   <app-header [title]="title" [imagen]="imagen" [subTitle]="subTitle"></app-header>
   <app-content
   title="Auto Views"
   subTitle="{{ 'SUBTITLE_AUTOVIEWS' | translate }}"

   imagenOne="../../../../assets/img/autoviews/Auto_views_1.png"
   textUpImagen="{{ 'TEXTUP_IMAGEN' | translate }}"
  
   question="{{'QUESTION_AUTOVIEWS' | translate }}"
   parrafo="{{ 'PARAGRAPH_AUTOVIEWS' | translate}}"

   listItemOne="{{ 'LIST_ITEM_ONE' | translate}}"
   listItemTwo="{{ 'LIST_ITEM_TWO' | translate }}"
   listItemThree="{{ 'LIST_ITEM_THREE' | translate}}"
   imagenParrafo="../../../../assets/img/autoviews/Auto_views_2.png"
  
   TitleDescription="{{'TITLE_DESCRIPTION_ONE' | translate}}"
   description="{{ 'DESCRIPTION_ONE' | translate}}"

   TitleDescriptionTwo="{{ 'TITLE_DESCRIPTION_TWO' | translate}}"
   descriptionTwo="{{'DESCRIPTION_TWO' | translate }}"

   imagenGridOne="../../../../assets/img/autoviews/Auto_views_gallery_1.png"
   imagenGridTwo="../../../../assets/img/autoviews/Auto_views_gallery_3.png"
   imagenGridThree="../../../../assets/img/autoviews/Auto_views_gallery_2.png"
   imagenGridFour="../../../../assets/img/autoviews/Auto_views_gallery_4.png"

   ></app-content>

     <!-- paquete smalll o  Petite -->
     <app-cards-packages 
     cardStyle="card-seven-item"
     fontStyle="negro"
     bars="bars_azul"
     image='../../../assets/img/autosaves/pacchetti_petite.png'
     title="{{ 'TITLE_SMALL_PACKAGE' | translate}}"
     titleParteOne="{{'TITLE_SMALL_AUTOVIEWS_PART_ONE' | translate}}"
     titleParteTwo="{{'TITLE_SMALL_AUTOVIEWS_PART_TWO' | translate}}"
     [paquetes]="paquetes.paquetesSmall"
  ></app-cards-packages>

 <!-- paquete micro -->
  <app-cards-packages 
     cardStyle="card-seven-item"
     fontStyle="negro"
     bars="bars_fucsia"
     image='../../../assets/img/autosaves/pacchetti_micro.png'
     title="{{ 'TITLE_POWER_PACKAGE' | translate}}"
     titleParteOne="{{'TITLE_MICRO_AUTOVIEWS_PART_ONE' | translate}}"
     titleParteTwo="{{'TITLE_MICRO_AUTOVIEWS_PART_TWO' | translate}}"
     [paquetes]="paquetes.paquetesMicro"
  ></app-cards-packages>

  <!-- paquete Giga -->
  <app-cards-packages 
     cardStyle="card-seven-item"
     fontStyle="negro"
     bars="bars_morado"
     image='../../../assets/img/autosaves/pacchetti_giga.png'
     title="{{ 'TITLE_GIGA_PACKAGE' | translate}}"
     titleParteOne="{{'TITLE_GIGA_AUTOVIEWS_PART_ONE' | translate}}"
     titleParteTwo="{{'TITLE_GIGA_AUTOVIEWS_PART_TWO' | translate}}"
     [paquetes]="paquetes.paquetesGiga"
 ></app-cards-packages>

  <!-- paquete Vip -->
  <app-cards-packages 
     cardStyle="card-seven-item-white"
     fontStyle="negro"
     bars="bars_azul_fuerte"
     image='../../../assets/img/autosaves/pacchetti_vip.png'
     title="{{ 'TITLE_VIP_PACKAGE' | translate}}"
     titleParteOne="{{'TITLE_VIP_AUTOVIEWS_PART_ONE' | translate}}"
     titleParteTwo="{{'TITLE_VIP_AUTOVIEWS_PART_TWO' | translate}}"
     [paquetes]="paquetes.paquetesVip"
 ></app-cards-packages>

   <app-brand-area></app-brand-area>
</main>
<app-footer></app-footer>