<app-navbar></app-navbar>
<main>
   <app-header [title]="title" [imagen]="imagen" [subTitle]="subTitle"></app-header>
   <app-content 
   title="SEI UN PROFESSIONISTA?"
   subTitle="{{ 'SUBTITLE_AUTOLIKES' | translate }}"

   imagenOne="../../../../assets/img/utils/content_creation_imagen1.png"
   textUpImagen="{{ 'TEXTUP_IMAGEN_AUTOLIKES' | translate }}"

   question="{{'QUESTION_AUTOLIKES' | translate }}"
   parrafo="{{ 'PARAGRAPH_AUTOLIKES' | translate}}"

   listItemOne="{{ 'LIST_ITEM_ONE_AUTOLIKES' | translate}}"
   listItemTwo="{{ 'LIST_ITEM_TWO_AUTOLIKES' | translate }}"
   listItemThree="{{ 'LIST_ITEM_THREE_AUTOLIKES' | translate}}"
   imagenParrafo="../../../../assets/img/autolikes/auto_likes_04.png"

   TitleDescription="{{'TITLE_DESCRIPTION_ONE_AUTOLIKES' | translate}}"
   description="{{ 'DESCRIPTION_ONE_AUTOLIKES' | translate}}"

   TitleDescriptionTwo="{{ 'TITLE_DESCRIPTION_TWO_AUTOLIKES' | translate}}"
   descriptionTwo="{{'DESCRIPTION_TWO_AUTOLIKES' | translate }}"

   imagenGridOne="../../../../assets/img/autolikes/auto_likes_05.png"
   imagenGridTwo="../../../../assets/img/autolikes/auto_likes_06.png"
   imagenGridThree="../../../../assets/img/autolikes/auto_likes_07.png"
   imagenGridFour="../../../../assets/img/autolikes/auto_likes_08.png"
  ></app-content>
   <app-brand-area></app-brand-area>
</main>
<app-footer></app-footer>