<div class="product-area-2 bk-image pt-130 pb-100">
   <div class="container">
      <div class="row">
         <div class="col-xl-12">
            <div class="section-title-2  text-center mb-35 ">
               <h3 class="bars" style="color:#0D0D60; font-weight: bold;  ">
                  Scarica i nostri ebook gratuiti <br>
                  per crescere il tuo profilo    
               </h3>
            </div>
         </div>
      </div>
      <div class="row justify-content-center">
         <div class="col-md-4 col-lg-4 w-xl-20 ">
            <div class="product-wrap mb-30">
               <div class="product-img">
                  <img src="../../../../assets/img/img-home/1.png" width="300" alt="product">
                
                  <!-- <div class="product-card">
                     <ul>
                        <li>
                           <a routerLink="#"><i class="far fa-heart"></i></a>
                        </li>
                        <li>
                           <a routerLink="#"><i class="fas fa-expand"></i></a>
                        </li>
                        <li>
                           <a routerLink="#"><i class="fas fa-exchange-alt"></i></a>
                        </li>
                     </ul>
                  </div> -->
                  <div class="cart-btn">
                     <a routerLink="#" class="btn btn-gra">
                        COMING SOON
                       <i class="fas fa-angle-double-right"></i>
                    </a>
                  </div>
               </div>
               <div class="product-content">
                  <h3 style="font-size: 0.8rem;">
                     <a routerLink="#">
                         <span style="color:#B125EC"><i class="fas fa-download"></i></span>
                         PRESTO DISPONIBILE GRATIS
                     </a>
                  </h3>
       
               </div>
            </div>
         </div>
         <div class="col-md-4 col-lg-4 w-xl-20 ">
            <div class="product-wrap mb-30">
               <div class="product-img">
                  <img src="../../../../assets/img/img-home/2.png" width="300" alt="product">
                  <!-- <div class="product-card">
                     <ul>
                        <li>
                           <a routerLink="#"><i class="far fa-heart"></i></a>
                        </li>
                        <li>
                           <a routerLink="#"><i class="fas fa-expand"></i></a>
                        </li>
                        <li>
                           <a routerLink="#"><i class="fas fa-exchange-alt"></i></a>
                        </li>
                     </ul>
                  </div> -->
                  <div class="cart-btn">
                     <a routerLink="#" class="btn btn-gra">
                        COMING SOON
                         <i class="fas fa-angle-double-right"></i></a>
                  </div>
               </div>
               <div class="product-content">
                  <h3 style="font-size: 0.8rem;">
                     <a routerLink="#"> 
                        <span style="color:#B125EC"><i class="fas fa-download"></i></span>
                        PRESTO DISPONIBILE GRATIS
                     </a>
                  </h3>
               </div>
            </div>
         </div>
         <div class="col-md-4 col-lg-4 w-xl-20 ">
            <div class="product-wrap mb-30">
               <div class="product-img">
                  <img src="../../../../assets/img/img-home/3.png" width="200" alt="product">
                 
                  <!-- <div class="product-card">
                     <ul>
                        <li>
                           <a routerLink="#"><i class="far fa-heart"></i></a>
                        </li>
                        <li>
                           <a routerLink="#"><i class="fas fa-expand"></i></a>
                        </li>
                        <li>
                           <a routerLink="#"><i class="fas fa-exchange-alt"></i></a>
                        </li>
                     </ul>
                  </div> -->
                  <div class="cart-btn">
                     <a routerLink="#" class="btn btn-gra">
                        COMING SOON
                        <i class="fas fa-angle-double-right"></i></a>
                  </div>
               </div>
               <div class="product-content">
                  <h3 style="font-size: 0.8rem;">
                     <a routerLink="#">
                         <span style="color:#B125EC"><i class="fas fa-download"></i></span>
                         PRESTO DISPONIBILE GRATIS
                     </a>
                  </h3>
               </div>
            </div>
         </div>
      </div>
   </div>

</div>


<div class="vista-movil-free-resource pb-5">
   <div class="container">
       <div class="row justify-content-center">
         <div class="section-title-2 text-center pt-5">
           <span>RISOURCE FREE</span>
         </div>        
       </div>   
       
       <div class="text-center">
			<hr class="movil-bars">
		    <h3 style="color:#0d0d60; padding-top: 3px; font-size: 1.2rem;" >
				   Scaria i nostri ebook gratuiti per crescere il tuo profilo
			</h3>
	  </div>

       <div class="row justify-content-center">
             <img src="../../../../assets/img/img-home/ebook.png" alt="ebook">
       </div>
       <div class="row justify-content-center">
        <button class="btn btn-gra">
           Download
        </button>
      </div>
  </div>
</div>