<div class="container">
   <div class="d-flex justify-content-center">
   <div class="card-step-3-size">
 
   <ul class="list-group list-group-flush">
     <li class="list-group-item">
       <!-- Default checked -->
       <div class="custom-control custom-checkbox">
         <input type="checkbox" class="custom-control-input" id="check1">
         <label class="custom-control-label" for="check1">Quality of post</label>
         <p>I confirm that I understand that I must post quality content while respecting latest
            available update to Instagra's algorithm and paying close attention to the use of 
            hashtags
         </p>
       </div>
     </li>
     <li class="list-group-item">
       <!-- Default checked -->
       <div class="custom-control custom-checkbox">
         <input type="checkbox" class="custom-control-input" id="check2">
         <label class="custom-control-label" for="check2">Security</label>
         <p>I understand that by not handing International Twaper
            marketing any password to my account, International Twaper
            Marketing cannot be responsible for any current or future security breaches
         </p>
       </div>
     </li>
     <li class="list-group-item">
       <!-- Default checked -->
       <div class="custom-control custom-checkbox">
         <input type="checkbox" class="custom-control-input" id="check3" >
         <label class="custom-control-label" for="check3">Refund Policy</label>
         <p>I acknowledge that I 
            have read and fully understand International Twaper Marketing´s refund policy found in the Terms
            and ConditionsI confirm that I understand and agree that that in order to activate a refund 
            I will need to submit a ticket with a support request to Twaper. I confirm that I
            understand and agree to receive a free extension of my subcription in case of interruption
            of the services offered by instagram for causes dependent on instagram itself. I confirm
            that I understand that in case of permanent interruption of the service for reasons not
            dependent on the will of international Twaper Marketing I will receive a refund of the amounts
            paid for the time of non-use of services.                          
         </p>  
       </div> 
     </li>
     <li class="list-group-item">
       <!-- Default checked -->
       <div class="custom-control custom-checkbox">
         <input type="checkbox" class="custom-control-input" id="check4" >
         <label class="custom-control-label" for="check4" style="font-size: 0.7rem;font-weight: normal;">
             I accept the Terms & Conditions and the Privacy Policy
         </label>
      </div>
     </li>
     <li class="list-group-item">
       <!-- Default checked -->
       <div class="custom-control custom-checkbox">
         <input type="checkbox" class="custom-control-input" id="check5">
         <label class="custom-control-label" for="check5">ACCEPT ALL</label>
       </div>
     </li>
   </ul>

    </div>
   </div>
 </div>
