<app-navbar></app-navbar>
<main>
   <app-header [title]="title" [imagen]="imagen" [subTitle]="subTitle"></app-header>
   <app-content
   title="IGTV"
   subTitle="{{ 'SUBTITLE_IGTV' | translate }}"

   imagenOne="../../../../assets/img/igtv/igtv_03.png"
   textUpImagen="{{ 'TEXTUP_IMAGEN_IGTV' | translate }}"
  
   question="{{'QUESTION_IGTV' | translate }}"
   parrafo="{{ 'PARAGRAPH_IGTV' | translate }}"

   listItemOne="{{ 'LIST_ITEM_ONE_IGTV' | translate}}"
   listItemTwo="{{ 'LIST_ITEM_TWO_IGTV' | translate }}"
   listItemThree="{{ 'LIST_ITEM_THREE_IGTV' | translate}}"
   imagenParrafo="../../../../assets/img/igtv/igtv_04.png"
  
   TitleDescription="{{'TITLE_DESCRIPTION_ONE_IGTV' | translate}}"
   description="{{ 'DESCRIPTION_ONE_IGTV' | translate}}"

   TitleDescriptionTwo="{{ 'TITLE_DESCRIPTION_TWO_IGTV' | translate}}"
   descriptionTwo="{{'DESCRIPTION_TWO_IGTV' | translate }}"

   imagenGridOne="../../../../assets/img/igtv/igtv_05.png"
   imagenGridTwo="../../../../assets/img/igtv/igtv_06.png"
   imagenGridThree="../../../../assets/img/igtv/igtv_07.png"
   imagenGridFour="../../../../assets/img/igtv/igtv_08.png"
   
   ></app-content>
   
       <!-- paquete smalll o  Petite -->
       <app-cards-packages 
       cardStyle="card-seven-item"
       fontStyle="negro"
       bars="bars_azul"
       image='../../../assets/img/autosaves/pacchetti_petite.png'
       title="{{ 'TITLE_SMALL_PACKAGE' | translate}}"
       titleParteOne="{{'TITLE_SMALL_IGTV_PART_ONE' | translate}}"
       titleParteTwo="{{'TITLE_SMALL_IGTV_PART_TWO' | translate}}"
       [paquetes]="paquetes.paquetesSmall"
    ></app-cards-packages>
    
    <!-- paquete micro -->
    <app-cards-packages 
       cardStyle="card-seven-item"
       fontStyle="negro"
       bars="bars_fucsia"
       image='../../../assets/img/autosaves/pacchetti_micro.png'
       title="{{ 'TITLE_MICRO_PACKAGE' | translate}}"
       titleParteOne="{{'TITLE_SMALL_PACKAGE_PART_ONE' | translate}}"
       titleParteTwo="{{'TITLE_SMALL_PACKAGE_PART_TWO' | translate}}"
       [paquetes]="paquetes.paquetesMicro"
    ></app-cards-packages>
    
    <!-- paquete Giga -->
    <app-cards-packages 
       cardStyle="card-seven-item"
       fontStyle="negro"
       bars="bars_morado"
       image='../../../assets/img/autosaves/pacchetti_giga.png'
       title="{{ 'TITLE_GIGA_PACKAGE' | translate}}"
       titleParteOne="{{'TITLE_GIGA_IGTV_PART_ONE' | translate}}"
       titleParteTwo="{{'TITLE_GIGA_IGTV_PART_TWO' | translate}}"
       [paquetes]="paquetes.paquetesGiga"
    ></app-cards-packages>
    
    
    <!-- paquete Vip -->
    <app-cards-packages 
       cardStyle="card-seven-item-white"
       fontStyle="negro"
       bars="bars_azul_fuerte"
       image='../../../assets/img/autosaves/pacchetti_vip.png'
       title="{{ 'TITLE_VIP_PACKAGE' | translate}}"
       titleParteOne="{{'TITLE_VIP_IGTV_PART_ONE' | translate}}"
       titleParteTwo="{{'TITLE_VIP_IGTV_PART_TWO' | translate}}"
       [paquetes]="paquetes.paquetesGiga"
    ></app-cards-packages>

   <app-brand-area></app-brand-area>
</main>
<app-footer></app-footer>