<app-navbar></app-navbar>
<main>
   <app-header [title]="title" [imagen]="imagen" [subTitle]="subTitle"></app-header>
   <app-content
   title="IGTV"
   subTitle="{{ 'SUBTITLE_IGTV' | translate }}"

   imagenOne="../../../../assets/img/igtv/igtv_03.png"
   textUpImagen="{{ 'TEXTUP_IMAGEN_IGTV' | translate }}"
  
   question="{{'QUESTION_IGTV' | translate }}"
   parrafo="{{ 'PARAGRAPH_IGTV' | translate }}"

   listItemOne="{{ 'LIST_ITEM_ONE_IGTV' | translate}}"
   listItemTwo="{{ 'LIST_ITEM_TWO_IGTV' | translate }}"
   listItemThree="{{ 'LIST_ITEM_THREE_IGTV' | translate}}"
   imagenParrafo="../../../../assets/img/igtv/igtv_04.png"
  
   TitleDescription="{{'TITLE_DESCRIPTION_ONE_IGTV' | translate}}"
   description="{{ 'DESCRIPTION_ONE_IGTV' | translate}}"

   TitleDescriptionTwo="{{ 'TITLE_DESCRIPTION_TWO_IGTV' | translate}}"
   descriptionTwo="{{'DESCRIPTION_TWO_IGTV' | translate }}"

   imagenGridOne="../../../../assets/img/igtv/igtv_05.png"
   imagenGridTwo="../../../../assets/img/igtv/igtv_06.png"
   imagenGridThree="../../../../assets/img/igtv/igtv_07.png"
   imagenGridFour="../../../../assets/img/igtv/igtv_08.png"
   
   ></app-content>
  


  
   <!-- <app-small-packages
   
   title="{{ 'TITLE_SMALL_PACKAGE' | translate}}"
   titleParteOne="{{'TITLE_SMALL_IGTV_PART_ONE' | translate}}"
   titleParteTwo="{{'TITLE_SMALL_IGTV_PART_TWO' | translate}}"

   oneCardPrice="{{ 'ONE_CARD_PRICE_SMALL_IGTV' | translate }}"
   cardMonth="{{'MONTH' | translate }}"
   oneCardPetite="{{ 'ONE_CARD_SMALL_IGTV' | translate }}"
   oneCardItemOne="{{'ONE_CARD_ITEM_ONE_SMALL_IGTV' | translate }}"
   cardItemTwo="{{ 'CARD_ITEM_TWO_SMALL_IGTV' | translate }}"
   oneCardItemThree="{{'ONE_CARD_ITEM_THREE_SMALL_IGTV' | translate }}"
   cardItemFour="{{ 'CARD_ITEM_FOUR_SMALL_IGTV' | translate }}"
   cardItemFive="{{ 'CARD_ITEM_FIVE_SMALL_IGTV' | translate }}"
   cardItemSix="{{ 'CARD_ITEM_SIX_SMALL_IGTV' | translate }}"
   cardItemSeven="{{ 'CARD_ITEM_SEVEN_SMALL_IGTV' | translate }}"
   cardItemEight="{{'CARD_ITEM_EIGHT_SMALL_IGTV' | translate }}"

   twoCardPrice="{{ 'TWO_CARD_PRICE_SMALL_IGTV' | translate }}"
   twoCardPetite="{{ 'TWO_CARDS_MALL_IGTV' | translate }}"
   twoCardItemOne="{{'TWO_CARD_ITEM_ONE_SMALL_IGTV' | translate}}"
   twoCardItemThree= "{{'TWO_CARD_ITEM_THREE_SMALL_IGTV' | translate }}"

   threeCardPrice="{{ 'THREE_CARD_PRICE_SMALL_IGTV' | translate }}"
   threeCardPetite="{{ 'THREE_CARDS_MALL_IGTV' | translate }}"
   threeCardItemOne="{{'THREE_CARD_ITEM_ONE_SMALL_IGTV' | translate }}"
   threeCardItemThree= "{{'THREE_CARD_ITEM_THREE_SMALL_IGTV' | translate }}"
   
   ></app-small-packages>

   <app-micro-packages
   title="{{ 'TITLE_MICRO_PACKAGE' | translate}}"
   titleParteOne="{{'TITLE_SMALL_PACKAGE_PART_ONE' | translate}}"
   titleParteTwo="{{'TITLE_SMALL_PACKAGE_PART_TWO' | translate}}"

   oneCardPrice="{{ 'ONE_CARD_PRICE_MICRO_IGTV' | translate }}"
   cardMonth="{{'MONTH' | translate }}"
   oneCardMicro="{{ 'ONE_CARD_MICRO_IGTV' | translate }}"
   oneCardItemOne="{{'ONE_CARD_ITEM_ONE_MICRO_IGTV' | translate }}"
   cardItemTwo="{{ 'CARD_ITEM_TWO_SMALL_IGTV' | translate }}"
   oneCardItemThree="{{'ONE_CARD_ITEM_THREE_MICRO_IGTV' | translate }}"
   cardItemFour="{{ 'CARD_ITEM_FOUR_SMALL_IGTV' | translate }}"
   cardItemFive="{{ 'CARD_ITEM_FIVE_SMALL_IGTV' | translate }}"
   cardItemSix="{{ 'CARD_ITEM_SIX_SMALL_IGTV' | translate }}"
   cardItemSeven="{{ 'CARD_ITEM_SEVEN_SMALL_IGTV' | translate }}"
   cardItemEight="{{'CARD_ITEM_EIGHT_SMALL_IGTV' | translate }}"

   twoCardPrice="{{ 'TWO_CARD_PRICE_MICRO_IGTV' | translate }}"
   twoCardMicro="{{ 'TWO_CARDS_MICRO_IGTV' | translate }}"
   twoCardItemOne="{{'TWO_CARD_ITEM_ONE_MICRO_IGTV' | translate}}"
   twoCardItemThree= "{{'TWO_CARD_ITEM_THREE_MICRO_IGTV' | translate }}"

   threeCardPrice="{{ 'THREE_CARD_PRICE_MICRO_IGTV' | translate }}"
   threeCardMicro="{{ 'THREE_CARDS_MICRO_IGTV' | translate }}"
   threeCardItemOne="{{'THREE_CARD_ITEM_ONE_MICRO_IGTV' | translate }}"
   threeCardItemThree= "{{'THREE_CARD_ITEM_THREE_MICRO_IGTV' | translate }}"
   
   ></app-micro-packages>

   <app-giga-packages
    
      title="{{ 'TITLE_GIGA_PACKAGE' | translate }}"
      titleParteOne="{{'TITLE_GIGA_IGTV_PART_ONE' | translate}}"
      titleParteTwo="{{'TITLE_GIGA_IGTV_PART_TWO' | translate}}"

      oneCardPrice="{{ 'ONE_CARD_PRICE_GIGA_IGTV' | translate }}"
      cardMonth="{{'MONTH' | translate }}"
      oneCardGiga="{{ 'ONE_CARD_GIGA_IGTV' | translate }}"
      
      oneCardItemOne="{{'ONE_CARD_ITEM_ONE_GIGA_IGTV' | translate }}"
      cardItemTwo="{{ 'CARD_ITEM_TWO_SMALL_IGTV' | translate }}"
      oneCardItemThree="{{ 'ONE_CARD_ITEM_THREE_GIGA_IGTV' | translate }}"

      cardItemFour="{{ 'CARD_ITEM_FOUR_SMALL_IGTV' | translate }}"
      cardItemFive="{{ 'CARD_ITEM_FIVE_SMALL_IGTV' | translate }}"
      cardItemSix="{{ 'CARD_ITEM_SIX_SMALL_IGTV' | translate }}"
      cardItemSeven="{{ 'CARD_ITEM_SEVEN_SMALL_IGTV' | translate }}"
      cardItemEight="{{'CARD_ITEM_EIGHT_SMALL_IGTV' | translate }}"

      twoCardPrice="{{ 'TWO_CARD_PRICE_GIGA_IGTV' | translate }}"
      twoCardGiga="{{ 'TWO_CARDS_GIGA_IGTV' | translate }}"
      twoCardItemOne="{{'TWO_CARD_ITEM_ONE_GIGA_IGTV' | translate}}"
      twoCardItemThree= "{{'TWO_CARD_ITEM_THREE_GIGA_IGTV' | translate }}"

      threeCardPrice="{{ 'THREE_CARD_PRICE_GIGA_IGTV' | translate }}"
      threeCardGiga="{{ 'THREE_CARDS_GIGA_IGTV' | translate }}"
      threeCardItemOne="{{'THREE_CARD_ITEM_ONE_GIGA_IGTV' | translate}}"
      threeCardItemThree="{{'THREE_CARD_ITEM_THREE_GIGA_IGTV' | translate }}"
      
   
   ></app-giga-packages>
   <app-vip-packages [pt]="pt"
   
   title="{{ 'TITLE_VIP_PACKAGE' | translate }}"
   titleParteOne="{{'TITLE_VIP_IGTV_PART_ONE' | translate}}"
   titleParteTwo="{{'TITLE_VIP_IGTV_PART_TWO' | translate}}"

   oneCardPrice="{{ 'ONE_CARD_PRICE_VIP_IGTV' | translate }}"
   cardMonth="{{'MONTH' | translate }}"
   oneCardVip="{{ 'ONE_CARD_VIP_IGTV' | translate }}"
   
   oneCardItemOne="{{'ONE_CARD_ITEM_ONE_VIP_IGTV' | translate }}"
   cardItemTwo="{{ 'CARD_ITEM_TWO_SMALL_IGTV' | translate }}"
   oneCardItemThree="{{ 'ONE_CARD_ITEM_THREE_VIP_IGTV' | translate }}"

   cardItemFour="{{ 'CARD_ITEM_FOUR_SMALL_IGTV' | translate }}"
   cardItemFive="{{ 'CARD_ITEM_FIVE_SMALL_IGTV' | translate }}"
   cardItemSix="{{ 'CARD_ITEM_SIX_SMALL_IGTV' | translate }}"
   cardItemSeven="{{ 'CARD_ITEM_SEVEN_SMALL_IGTV' | translate }}"
   cardItemEight="{{'CARD_ITEM_EIGHT_SMALL_IGTV' | translate }}"

   twoCardPrice="{{ 'TWO_CARD_PRICE_VIP_IGTV' | translate }}"
   twoCardVip="{{ 'TWO_CARDS_VIP_IGTV' | translate }}"
   twoCardItemOne="{{'TWO_CARD_ITEM_ONE_VIP_IGTV' | translate}}"
   twoCardItemThree= "{{'TWO_CARD_ITEM_THREE_VIP_IGTV' | translate }}"

   threeCardPrice="{{ 'THREE_CARD_PRICE_VIP_IGTV' | translate }}"
   threeCardVip="{{ 'THREE_CARDS_VIP_IGTV' | translate }}"
   threeCardItemOne="{{'THREE_CARD_ITEM_ONE_VIP_IGTV' | translate}}"
   threeCardItemThree="{{'THREE_CARD_ITEM_THREE_VIP_IGTV' | translate }}"
   
   ></app-vip-packages> -->
   <app-brand-area></app-brand-area>
</main>
<app-footer></app-footer>