<app-navbar></app-navbar>
<main>
   <app-header [title]="title" [imagen]="imagen" [subTitle]="subTitle"></app-header>
   <app-content 
   title="VIP comments"
   subTitle="{{ 'SUBTITLE_VIP' | translate }}"

   imagenOne="../../../../assets/img/vip/vip_comments_02.png"
   textUpImagen="{{ 'TEXTUP_IMAGEN_VIP' | translate }}"
  
   question="{{'QUESTION_VIP' | translate }}"
   parrafo="{{ 'PARAGRAPH_VIP' | translate}}"

   listItemOne="{{ 'LIST_ITEM_ONE_VIP' | translate}}"
   listItemTwo="{{ 'LIST_ITEM_TWO_VIP' | translate }}"
   listItemThree="{{ 'LIST_ITEM_THREE_VIP' | translate}}"
   imagenParrafo="../../../../assets/img/vip/vip_comments_03.png"
  
   TitleDescription="{{'TITLE_DESCRIPTION_ONE_VIP' | translate}}"
   description="{{ 'DESCRIPTION_ONE_VIP' | translate}}"

   TitleDescriptionTwo="{{ 'TITLE_DESCRIPTION_TWO_VIP' | translate}}"
   descriptionTwo="{{'DESCRIPTION_TWO_VIP' | translate }}"

   imagenGridOne="../../../../assets/img/vip/vip_comments_04.png"
   imagenGridTwo="../../../../assets/img/vip/vip_comments_05.png"
   imagenGridThree="../../../../assets/img/vip/vip_comments_06.png"
   imagenGridFour="../../../../assets/img/vip/vip_comments_07.png"
   ></app-content>
   <!-- <app-vip-packages

   title="{{ 'TITLE_VIP_COMMENTS' | translate}}"
   titleParteOne="{{'' | translate}}"
   titleParteTwo="{{'' | translate}}"

   oneCardPrice="{{ 'ONE_CARD_PRICE_VIP_COMMENTS' | translate }}"
   cardMonth="{{ 'MONTH' | translate }}"
   oneCardVip="{{ 'ONE_CARD_VIP_COMMENTS' | translate }}"
   oneCardItemOne="{{'ONE_CARD_ITEM_ONE_VIP_COMMENTS' | translate }}"
   cardItemTwo="{{ 'CARD_ITEM_TWO_VIP_COMMENTS' | translate }}"
   oneCardItemThree="{{'ONE_CARD_ITEM_THREE_VIP_COMMENTS' | translate }}"
   cardItemFour="{{ 'CARD_ITEM_FOUR_VIP_COMMENTS' | translate }}"
   cardItemFive="{{ 'CARD_ITEM_FIVE_VIP_COMMENTS' | translate }}"
   cardItemSix="{{ 'CARD_ITEM_SIX_VIP_COMMENTS' | translate }}"
   cardItemSeven="{{ 'CARD_ITEM_SEVEN_VIP_COMMENTS' | translate }}"
   cardItemEight="{{ 'CARD_ITEM_EIGHT_VIP_COMMENTS' | translate }}"

   twoCardPrice="{{ 'TWO_CARD_PRICE_VIP_COMMENTS' | translate }}"
   twoCardVip="{{ 'TWO_CARD_VIP_COMMENTS' | translate }}"
   twoCardItemOne="{{'TWO_CARD_ITEM_ONE_VIP_COMMENTS' | translate}}"
   twoCardItemThree= "{{'TWO_CARD_ITEM_THREE_VIP_COMMENTS' | translate }}"

   threeCardPrice="{{ 'THREE_CARD_PRICE_VIP_COMMENTS' | translate }}"
   threeCardVip="{{ 'THREE_CARD_VIP_COMMENTS' | translate }}"
   threeCardItemOne="{{'THREE_CARD_ITEM_ONE_VIP_COMMENTS' | translate }}"
   threeCardItemThree= "{{'THREE_CARD_ITEM_THREE_VIP_COMMENTS' | translate }}"

   ></app-vip-packages> -->
   <app-brand-area></app-brand-area>

</main>
<app-footer></app-footer>