.slide-bar {
   position: fixed;
   top: 0;
   right: -30px;
   width: 80%;
   padding: 25px 20px;
   height: 100%;
   display: block;
   background-color: #ffffff;
   z-index: 100000;
   -webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
   -moz-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
   transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
   box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5); 
 }

 .slide-bar .show {
   right: 0;
 }
 
 .open-mobile-menu {
   display: block;
 }

 .open-mobile-menu a {
   display: block;
   width: 50px;
   height: 50px;
   text-align: center;
   line-height: 50px;
   font-size: 20px;
   margin-left: 20px;
   color: #fff;
 }

 .open-mobile-menu a:hover {
   background: #b125ec;
 }
 .open-mobile-menu a.active {
   background: #b125ec;
 }
 
 .close-mobile-menu a {
   /* color: #212121; */
   position: relative;
   /* z-index: 2; */
   font-size: 16px;
   top: -10px;
   left: -10px !important;
 }
 .close-mobile-menu a:hover {
   color: #b125ec;
 }
 
 .on-side {
   overflow: hidden;
 }
 
 .side-mobile-menu ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }
 .side-mobile-menu ul li a {
   padding: 13px 0;
   display: block;
   border-bottom: 1px solid rgba(0, 0, 0, 0.05);
   font-size: 16px;
   color: #101a23;
   font-weight: 700;
   /* text-transform: uppercase; */
   position: relative;
 }
 .side-mobile-menu ul li a:hover {
   color: #b125ec;
   padding-left: 5px;
 }
 .side-mobile-menu ul li a[aria-expanded=true] {
   color: #b125ec;
 }
 .side-mobile-menu ul li a[aria-expanded=true]:before {
   background: #b125ec;
   border-color: #b125ec;
 }
 .side-mobile-menu ul li ul {
   padding-left: 0;
   list-style: none;
 }
 .side-mobile-menu ul li ul li {
   padding-left: 2%;
 }
 .side-mobile-menu ul li ul li:hover > a {
   color: #b125ec;
   padding-left: 20px;
 }
 .side-mobile-menu ul li ul li:hover > a:before {
   background: #b125ec;
   border-color: #b125ec;
 }
 .side-mobile-menu ul li ul li a {
   position: relative;
   padding-left: 15px;
   text-transform: capitalize;
   font-size: 16px;
 }
 .side-mobile-menu ul li ul li a:before {
   content: "";
   width: 8px;
   height: 8px;
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   border: 2px solid #101a23;
   border-radius: 50%;
 }
 .side-mobile-menu ul li ul li a[aria-expanded=true] {
   padding-left: 20px;
 }
 .side-mobile-menu ul li.has-children > a:after {
   position: absolute;
   content: "";
   width: 8px;
   height: 8px;
   border-width: 2px 0 0 2px;
   border-style: solid;
   border-color: initial;
   right: 20px;
   top: 50%;
   -webkit-transform: rotate(-45deg) translateY(-50%);
   transform: rotate(-45deg) translateY(-50%);
   -webkit-transform-origin: top;
   transform-origin: top;

 }
 .side-mobile-menu ul li.has-children a[aria-expanded=true]:after {
   -webkit-transform: rotate(-135deg) translateY(-50%);
   transform: rotate(-135deg) translateY(-50%);
 }

 .side-mobile-menu ul li.flechaAbajo > a:after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-width: 2px 0 0 2px;
  border-style: solid;
  border-color: initial;
  right: 23px;
  top: 50%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
  -webkit-transform-origin: top;
  transform-origin: top;
}

 .side-mobile-menu ul li.flechaAbajo a:after {
  -webkit-transform: rotate(-135deg) translateY(-50%);
   transform: rotate(-135deg) translateY(-50%);
}

 .main-menu ul li .sub-menu li {
  display: block;
  margin: 0;
}
.main-menu ul li .sub-menu li:hover a {
  background: #b125ec;
  color: #fff;
}
.main-menu ul li .sub-menu li a {
  color: #000;
  padding: 15px 15px;
  display: block;
  line-height: 1;
  text-transform: capitalize;
  font-weight: 500;
}
.main-menu ul li .sub-menu li a:before {
  display: none;
}

.main-menu ul li:hover .sub-menu {
  top: 100%;
  visibility: visible;
}



