<div class="pricing-area bg-fix pt-130 pb-180">
   <div class="container">
      <div class="row justify-content-center align-items-center pt-5">
         <div class="col-xl-12">
            <div class="section-title-2  text-center ">
               <h3 class="bars" style="color: #0D0D60; padding-top: 40px; font-weight: bold;">
                  Risultati reali dall'utilizzo <br> dei nostri pacchetti
               </h3>
            </div>
         </div>
      </div>
      <div class="row justify-content-center pt-80">

         <div class="col-lg-4 col-md-7 mt-30 mb-30">
            <div class="pricing-wrap " style="height: 364px;">
               <div style="position: relative;top:30%;">
                  <img src="../../../../assets/icons/play.png" alt="icon">
               </div>
             
               <div class="shape">
                  <img src="../../../../assets/img/impressions/impressions_04.png" alt="shape">
               </div>
            </div>
         </div>

         <div class="col-lg-4 col-md-7">
             <div class="pricing-wrap popular mb-30" style="height: 480px;">
               <div style="position: relative;top:28%;">
                  <img src="../../../../assets/icons/play.png" alt="icon">
               </div>
            
               <div class="shape">
                  <div class="popular-badge">
                     <span>esgsdgsd</span>
                  </div>
                  <img class="img-fluid" src="../../../../assets/img/reels/Reels_gallery_2.png" alt="shape">
               </div>
            </div>
         </div>

         <div class="col-lg-4 col-md-7">
            <div class="pricing-wrap mt-30 mb-30" style="height: 364px;">
               <div style="position: relative;top:30%;">
                  <img src="../../../../assets/icons/play.png" alt="icon">
               </div>
               <div class="shape">
                  <img   src="../../../../assets/img/impressions/impressions_05.png" alt="shape">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>







<div class="area-movil pb-5">
     
   <div class="container">
      <div class="d-flex justify-content-center pt-3">
         <h2 class="title-movil-pricing">RISULTATI</h2>
      </div>

      <div class="text-center">
            <hr class="movil-bars">
          <h3 style=" color:#0D0D60; padding-top: 3px; font-size: 1.2rem;" >
            Risultati reali dall'utilizzo <br>
              dei nostri pacchetti
            </h3>
      </div>
   </div>


     <div class="container">
      <carousel
          class="pricing-movil"
          [cellsToShow]="1" 
          style="height: 390px;">

          <div class="carousel-cell">
            <div class="pricing-wrap popular mb-30" style="height: 480px;">
               <div style="position: relative;top:28%;height: 50px;">
                  <img  class="img-fluid" src="../../../../assets/icons/play.png" alt="icon">
               </div>
            
               <div class="shape">
                  <div class="popular-badge">
                     <span>esgsdgsd</span>
                  </div>
                  <img class="img-fluid" src="../../../../assets/img/reels/Reels_gallery_2.png" alt="shape">
               </div>
            </div>
           </div>

          <div class="carousel-cell">
            <div class="pricing-wrap " style="height: 364px;">
               <div style="position: relative;top:30%;height: 50px;">
                  <img src="../../../../assets/icons/play.png" alt="icon">
               </div>
             
               <div class="shape">
                  <img src="../../../../assets/img/impressions/impressions_04.png" alt="shape">
               </div>
            </div>
         </div>

       


        <div class="carousel-cell">
         <div class="pricing-wrap mt-30 mb-30" style="height: 364px;">
            <div style="position: relative;top:30%;height: 50px;">
               <img src="../../../../assets/icons/play.png" alt="icon">
            </div>
            <div class="shape">
               <img   src="../../../../assets/img/impressions/impressions_05.png" alt="shape">
            </div>
         </div>
        </div>

     

      </carousel>
     </div>
</div>

