<div class="feature-area-3 pt-130 pb-20 pt-xs-80">
   <div class="container">
      <div class="row pt-50 ">
         <div class="col-xl-4 col-lg-10">
            <div class="feature-title mb-lg-50 mb-md-50 mb-xs-50">
               <div class="section-title-3 mb-70 mb-lg-30 mb-md-30 mb-xs-30">
                  <h3 class="bars">
                     Servizi con copertura 
                      e crescita a 360°
                  </h3>
               </div>
            </div>
         </div>
         <div class="col-xl-8 col-lg-12">
            <div class="row">
               <div class="col-md-6">
                  <div class="feature-wrap-3 mb-30">
                     <div class="feature-icon">
                        <img width="35" style="padding-bottom: 10px;" src="../../../../assets/icons/reels.svg" alt="reels">
                     </div>
                     <div class="feature-content">
                        <h3>Reels Visibility</h3>
                        <p>
                           Visualizzazioni automatiche per
                           ogni tuo Reel caricato per 30 giorni.
                           100% sicuro, 100% qualità
                        </p>
                        <a routerLink="/reels" class="read-more">
                           Vai ai pacchetti <i class="fas fa-angle-double-right"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="feature-wrap-3 mb-30">
                     <div class="feature-icon">
                        <img  width="35" style="padding-bottom: 10px;" 
                        src="../../../../assets/icons/auto_likes.svg" alt="reels">
                     </div>
                     <div class="feature-content">
                        <h3>Like Automatici</h3>
                        <p>
                           Auto likes per ogni tuo post.
                           Copertura per 3 post al giorno
                           100% soddisfazione

                        </p>
                        <a routerLink="/autolikes" class="read-more">
                           Vai ai pacchetti <i class="fas fa-angle-double-right"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="feature-wrap-3 mb-30">
                     <div class="feature-icon">
                        <img  width="35" style="padding-bottom: 10px;"
                         src="../../../../assets/icons/all_inclusive.svg" alt="reels">
                        
                     </div>
                     <div class="feature-content">
                        <h3>All Inclusive</h3>
                        <p>
                           I pacchetti che ti danno un po’
                           di tutto in maniera bilanciata
                           e attentamente studiata.
                        </p>
                        <a routerLink="/inclusive" class="read-more">
                           Vai ai pacchetti <i class="fas fa-angle-double-right"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="feature-wrap-3 mb-30">
                     <div class="feature-icon">
                        <img width="35" style="padding-bottom: 10px;"
                         src="../../../../assets/icons/auto_saves.svg" alt="reels">

                     </div>
                     <div class="feature-content">
                        <h3>Saves Automatic</h3>
                        <p>
                           iI salvataggi sono l’indicatore
                           più importante per Instagram.
                           Diventa virale con i nostri pacchetti.

                        </p>
                        <a routerLink="/autosaves" class="read-more">
                           Vai ai pacchetti <i class="fas fa-angle-double-right"></i>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>