<app-navbar></app-navbar>
<main>
   <app-home-header></app-home-header>
   <app-home-content-organize-show></app-home-content-organize-show>
   <app-home-image-video></app-home-image-video>
   <app-home-bestsellers></app-home-bestsellers>
   <app-home-pricing-area></app-home-pricing-area>
   <app-home-testimonial></app-home-testimonial>
   <app-home-free-resources></app-home-free-resources>
   <app-home-blog-area></app-home-blog-area>
   <app-brand-area></app-brand-area>
</main>
<app-footer></app-footer>
