<div class="service-area-2 bg-fix  pt-130 pb-90">
   <div class="container">
      <div class="row justify-content-center pt-4">
         <div class="col-xl-12 col-lg-12">
            <div class="section-title-2 text-white text-center">
               <h3 class="bars" style="padding-top: 5px;" >{{'BESTSELLERS_TITLE' | translate}}<br>
                   {{ 'BESTSELLERS_TITLE_PART_TWO' | translate }}
                  </h3>
            </div>
         </div>
      </div>

    <div class="container p0 contenedor-carousel" >
       <carousel
         class="web-bestsellers-carousel"
         [cellsToShow]="cellsToShow" 
         style="height: 370px;position: relative;z-index: 100; ">

         <div class="carousel-cell card-width">            
               <div class="service-wrap-2">
                  <div class="service-content fondo">
                     <h3 style="margin-bottom: 0%;padding-bottom: 0px;">
                        Rells Visibility - Giga 10K
                     </h3>
                     <h5 style="font-size: 0.8rem; margin:0%;padding-top: 0px; margin-bottom: 15px;color: gray;">
                        Dettagli
                     </h5>                 
                  </div>
                 <div class="card-custom-body">
                     <ul>
                        <li>10,000 views/ Reel</li>
                        <li>copriamo 90 post al mese</li>
                        <li>fino a 1M views/mese</li>
                        <li>reach boost</li>
                        <li>explore page friendly</li>
                        <li>100&#37; compatibile con auto likes & saves</li>
                        <li>rilevamento rapido del post Compra ora</li>  
                        <li style="visibility: hidden;">IGTV Views  10k-15k</li> 
                     </ul>                          
                     <div class="item-icon">
                        <a routerLink="/reels" class="read-more" >
                           <i class="fas fa-angle-double-right"></i>
                        </a>
                     </div>
                 </div>
              </div>
         </div>
  <!-- tarjeta 2 -->
         <div class="carousel-cell card-width">            
            <div class="service-wrap-2">
               <div class="service-content ">
                  <h3 style="margin-bottom: 0%;padding-bottom: 0px;">
                     All Inclusive - Giga 1200
                  </h3>
                  <h5 style="font-size: 0.8rem; margin:0%;padding-top: 0px; margin-bottom: 15px;color: gray;">
                     Dettagli
                  </h5>                 
               </div>
              <div class="card-custom-body">
                  <ul>
                     <li>Likes 1000-1200</li>
                     <li>Views 10k-15k</li>
                     <li>Impressions 15k-18k</li>
                     <li>Saves 100-150</li>
                     <li>Reels Likes 1000-1200</li>
                     <li>Reels Views  10k-15k</li>
                     <li>IGTV Likes 1000-1200</li>      
                     <li>IGTV Views  10k-15k</li> 
                     <li>explore page friendly</li>
                     <li>covering 30 posts/month</li>
                  </ul>                          
                  <div class="item-icon">
                     <a routerLink="/inclusive" class="read-more" >
                        <i class="fas fa-angle-double-right"></i>
                     </a>
                  </div>
              </div>
           </div>
      </div>

      <!-- tarjeta 3 -->
      <div class="carousel-cell card-width">            
         <div class="service-wrap-2">
            <div class="service-content ">
               <h3 style="margin-bottom: 0%;padding-bottom: 0px;">
                 Auto Likes - Micro 500
               </h3>
               <h5 style="font-size: 0.8rem; margin:0%;padding-top: 0px; margin-bottom: 15px;color: gray;">
                  Dettagli
               </h5>                 
            </div>
           <div class="card-custom-body">
               <ul>
                  <li>500 likes / post</li>
                  <li>covering 60 posts per month</li>
                  <li>up to 30,000 likes / month</li>
                  <li>algorithm friendly</li>
                  <li>100&#37; safe</li>
                  <li>explore page friendly</li>
                  <li>engagement growth </li>    
                  <li>TOP hashtags / location </li>   
                  <li style="visibility: hidden;">TOP hashtags / location </li>  
                  <li style="visibility: hidden;">TOP hashtags / location </li>  
               </ul>                          
               <div class="item-icon">
                  <a routerLink="/autolikes" class="read-more" >
                     <i class="fas fa-angle-double-right"></i>
                  </a>
               </div>
           </div>
        </div>
   </div>

<!-- tarjeta 4 -->
   <div class="carousel-cell card-width">            
      <div class="service-wrap-2">
         <div class="service-content ">
            <h3 style="margin-bottom: 0%;padding-bottom: 0px;">
               Auto Saves - Micro 150
            </h3>
            <h5 style="font-size: 0.8rem; margin:0%;padding-top: 0px; margin-bottom: 15px;color: gray;">
               Dettagli
            </h5>                 
         </div>
        <div class="card-custom-body">
            <ul>
               <li>150 saves / post</li>
               <li>covering 90 post / month</li>
               <li>up to 13,500 saves / month</li>
               <li>periodic quantity bonuses</li>
               <li>explore page friendly </li>
               <li>100&#37; compatible with the other packages</li>
               <li>natural reach + impressions increase</li>   
               <li style="visibility: hidden;">TOP hashtags / location </li> 
               <li style="visibility: hidden;">TOP hashtags / location </li>       
            </ul>                          
            <div class="item-icon">
               <a routerLink="/autosaves" class="read-more" >
                  <i class="fas fa-angle-double-right"></i>
               </a>
            </div>
        </div>
     </div>
</div>

<!-- tarjeta 5 -->

<div class="carousel-cell card-width">            
   <div class="service-wrap-2">
      <div class="service-content ">
         <h3 style="margin-bottom: 0%;padding-bottom: 0px;">
             Visibility Booster - Micro 5k
         </h3>
         <h5 style="font-size: 0.8rem; margin:0%;padding-top: 0px; margin-bottom: 15px;color: gray;">
            Dettagli
         </h5>                 
      </div>
     <div class="card-custom-body">
         <ul>
            <li>5000 impressions/post</li>
            <li>covering 90 post / month</li>
            <li>up to 450k impressions/month</li>
            <li>REACH included</li>
            <li>explore page friendly</li>
            <li>fast service</li>
            <li>natural pattern</li>    
            <li>100&#37; compatible with all the other services</li>   
            <li style="visibility: hidden;">TOP hashtags / location </li>  
         </ul>                          
         <div class="item-icon">
            <a routerLink="/impressions" class="read-more" >
               <i class="fas fa-angle-double-right"></i>
            </a>
         </div>
     </div>
  </div>
</div>

<!-- tarjeta 6 -->

<div class="carousel-cell card-width">            
   <div class="service-wrap-2">
      <div class="service-content">
         <h3 style="margin-bottom: 0%;padding-bottom: 0px;">
           VIP comments - Petite VIP
         </h3>
         <h5 style="font-size: 0.8rem; margin:0%;padding-top: 0px; margin-bottom: 15px;color: gray;">
            Dettagli
         </h5>                 
      </div>
     <div class="card-custom-body">
         <ul>
            <li>5 VIP comments / post</li>
            <li>copriamo 30 post al mese</li>
            <li>fino a 150 commenti / mese</li>
            <li>like + saves bonus</li>
            <li>profili con +10k followers</li>
            <li>explore page friendly</li>
            <li>profili privati</li>     
            <li style="visibility: hidden;">TOP hashtags / location </li>  
            <li style="visibility: hidden;">TOP hashtags / location </li>    
            <li style="visibility: hidden;">TOP hashtags / location </li>  
         </ul>                          
         <div class="item-icon">
            <a routerLink="/comments" class="read-more" >
               <i class="fas fa-angle-double-right"></i>
            </a>
         </div>
     </div>
  </div>
</div>

<!-- tarjeta 7 -->
<div class="carousel-cell card-width">            
   <div class="service-wrap-2">
      <div class="service-content ">
         <h3 style="margin-bottom: 0%;padding-bottom: 0px;">
            IGTV Start - Giga 20K
         </h3>
         <h5 style="font-size: 0.8rem; margin:0%;padding-top: 0px; margin-bottom: 15px;color: gray;">
            Dettagli
         </h5>                 
      </div>
     <div class="card-custom-body">
         <ul>
            <li>20,000 views / post</li>
            <li>copriamo 60 post al mese</li>
            <li>fino a 1,2M views / mese</li>
            <li>pattern naturale</li>
            <li>100&#37; sicuro</li>
            <li>explore page friendly</li>
            <li>rilevamento rapido dei post</li> 
            <li>altissima qualità</li>   
            <li style="visibility: hidden;">TOP hashtags / location </li>  
            <li style="visibility: hidden;">TOP hashtags / location </li>    
        
         </ul>                          
         <div class="item-icon">
            <a routerLink="/igtv" class="read-more" >
               <i class="fas fa-angle-double-right"></i>
            </a>
         </div>
     </div>
  </div>
</div>

<!-- tarjeta 8 -->
<div class="carousel-cell card-width">            
   <div class="service-wrap-2">
      <div class="service-content ">
         <h3 style="margin-bottom: 0%;padding-bottom: 0px;">
            Video Exposure - Power 5k
         </h3>
         <h5 style="font-size: 0.8rem; margin:0%;padding-top: 0px; margin-bottom: 15px;color: gray;">
            Dettagli
         </h5>                 
      </div>
     <div class="card-custom-body">
         <ul>
            <li>5000 views / post</li>
            <li>copriamo 60 post/mese</li>
            <li>fino a 300K views / mese</li>
            <li>pattern naturale</li>
            <li>100&#37; sicuro</li>
            <li>explore page friendly</li>
            <li>rilevamento rapido dei post</li> 
            <li>altissima qualità</li>   
            <li style="visibility: hidden;">hidden</li>  
            <li style="visibility: hidden;">hidden/li>    
        
         </ul>                          
         <div class="item-icon">
            <a routerLink="/autoviews" class="read-more" >
               <i class="fas fa-angle-double-right"></i>
            </a>
         </div>
     </div>
  </div>
</div>
     
      </carousel>
    </div>
   </div>  
</div>


<div class="bestsellers-area-movil pb-5 " style="margin-bottom: 10px;">
     
   <div class="container">
      <div class="d-flex justify-content-center pt-3">
         <h2 class="title-movil-betsellers">BESTSELLERS</h2>
      </div>

      <div class="text-center">
            <hr class="movil-bars">
          <h3 style="color:#fff; padding-top: 3px; font-size: 1.2rem;" >{{'BESTSELLERS_TITLE' | translate}}<br>
             {{ 'BESTSELLERS_TITLE_PART_TWO' | translate }}
            </h3>
      </div>
   </div>


     <div class="container">
      <carousel
          class="bestsellers-movil-carousel"
          [cellsToShow]="1" 
          style="height: 370px;">

          <div class="carousel-cell">
            <div class="service-wrap-2 pt-3">
               <div class="service-content fondo">
                  <h3 style="margin-bottom: 0%;padding-bottom: 0px;">
                     Rells Visibility - Giga 10K
                  </h3>
                  <h5 style="font-size: 0.8rem; margin:0%;padding-top: 0px; margin-bottom: 15px;color: gray;">
                     Dettagli
                  </h5>                 
               </div>
              <div class="card-custom-body">
                  <ul>
                     <li>10,000 views/ Reel</li>
                     <li>copriamo 90 post al mese</li>
                     <li>fino a 1M views/mese</li>
                     <li>reach boost</li>
                     <li>explore page friendly</li>
                     <li>100&#37; compatibile con auto likes & saves</li>
                     <li>rilevamento rapido del post Compra ora</li>  
                     <li style="visibility: hidden;">IGTV Views  10k-15k</li> 
                     <!-- <li style="visibility: hidden;">TOP hashtags / location </li>  -->
                  </ul>                          
                  <div class="item-icon">
                     <a routerLink="/reels" class="read-more" >
                        <i class="fas fa-angle-double-right"></i>
                     </a>
                  </div>
              </div>
           </div>
        </div>
        <div class="carousel-cell">
         <div class="service-wrap-2">
            <div class="service-content ">
               <h3 style="margin-bottom: 0%;padding-bottom: 0px;">
                  All Inclusive - Giga 1200
               </h3>
               <h5 style="font-size: 0.8rem; margin:0%;padding-top: 0px; margin-bottom: 15px;color: gray;">
                  Dettagli
               </h5>                 
            </div>
           <div class="card-custom-body">
               <ul>
                  <li>Likes 1000-1200</li>
                  <li>Views 10k-15k</li>
                  <li>Impressions 15k-18k</li>
                  <li>Saves 100-150</li>
                  <li>Reels Likes 1000-1200</li>
                  <li>Reels Views  10k-15k</li>
                  <li>IGTV Likes 1000-1200</li>      
                  <li>IGTV Views  10k-15k</li> 
                  <li>explore page friendly</li>
                  <li>covering 30 posts/month</li>
               </ul>                          
               <div class="item-icon">
                  <a routerLink="/inclusive" class="read-more" >
                     <i class="fas fa-angle-double-right"></i>
                  </a>
               </div>
           </div>
        </div>
        </div>


        <div class="carousel-cell">
         <div class="service-wrap-2">
            <div class="service-content ">
               <h3 style="margin-bottom: 0%;padding-bottom: 0px;">
                 Auto Likes - Micro 500
               </h3>
               <h5 style="font-size: 0.8rem; margin:0%;padding-top: 0px; margin-bottom: 15px;color: gray;">
                  Dettagli
               </h5>                 
            </div>
           <div class="card-custom-body">
               <ul>
                  <li>500 likes / post</li>
                  <li>covering 60 posts per month</li>
                  <li>up to 30,000 likes / month</li>
                  <li>algorithm friendly</li>
                  <li>100&#37; sicuro</li>
                  <li>explore page friendly</li>
                  <li>engagement growth </li>    
                  <li>TOP hashtags / location </li>   
                  <li style="visibility: hidden;">TOP hashtags / location </li>  
                  <li style="visibility: hidden;">TOP hashtags / location </li>  
               </ul>                          
               <div class="item-icon">
                  <a routerLink="/autolikes" class="read-more" >
                     <i class="fas fa-angle-double-right"></i>
                  </a>
               </div>
           </div>
        </div>
        </div>
      </carousel>
     </div>
</div>

