<app-navbar></app-navbar>
<main>
   <app-header [title]="title" [imagen]="imagen" [subTitle]="subTitle"></app-header>
   <app-content 
   title="Reels Visibility"
   subTitle="{{ 'SUBTITLE_REELS' | translate }}"

   imagenOne="../../../../assets/img/reels/Reels_1.png"
   textUpImagen="{{ 'TEXTUP_IMAGEN_REELS' | translate }}"
  
   question="{{'QUESTION_REELS' | translate }}"
   parrafo="{{ 'PARAGRAPH_REELS' | translate}}"

   listItemOne="{{ 'LIST_ITEM_ONE_REELS' | translate}}"
   listItemTwo="{{ 'LIST_ITEM_TWO_REELS' | translate }}"
   listItemThree="{{ 'LIST_ITEM_THREE_REELS' | translate}}"
   imagenParrafo="../../../../assets/img/reels/Reels_2.png"
  
   TitleDescription="{{'TITLE_DESCRIPTION_ONE_REELS' | translate}}"
   description="{{ 'DESCRIPTION_ONE_REELS' | translate}}"

   TitleDescriptionTwo="{{ 'TITLE_DESCRIPTION_TWO_REELS' | translate}}"
   descriptionTwo="{{'DESCRIPTION_TWO_REELS' | translate }}"

   imagenGridOne="../../../../assets/img/reels/Reels_gallery_1.png"
   imagenGridTwo="../../../../assets/img/reels/Reels_gallery_2.png"
   imagenGridThree="../../../../assets/img/reels/Reels_gallery_3.png"
   imagenGridFour="../../../../assets/img/reels/Reels_gallery_4.png"
   ></app-content>

   <!-- paquete smalll o  Petite -->
   <app-cards-packages 
      cardStyle="card-seven-item"
      fontStyle="negro"
      bars="bars_azul"
      image='../../../assets/img/autosaves/pacchetti_petite.png'
      title="{{ 'TITLE_SMALL_PACKAGE' | translate}}"
      titleParteOne="{{'TITLE_SMALL_PACKAGE_PART_ONE' | translate}}"
      titleParteTwo="{{'TITLE_SMALL_PACKAGE_PART_TWO' | translate}}"
      [paquetes]="paquetes.paquetesSmall"
   ></app-cards-packages>

  <!-- paquete micro -->
   <app-cards-packages 
      cardStyle="card-seven-item"
      fontStyle="negro"
      bars="bars_fucsia"
      image='../../../assets/img/autosaves/pacchetti_micro.png'
      title="{{ 'TITLE_MICRO_PACKAGE' | translate}}"
      titleParteOne="{{'TITLE_MICRO_PACKAGE_PART_ONE' | translate}}"
      titleParteTwo="{{'TITLE_MICRO_PACKAGE_PART_TWO' | translate}}"
      [paquetes]="paquetes.paquetesMicro"
   ></app-cards-packages>

   <!-- paquete Giga -->
   <app-cards-packages 
      cardStyle="card-seven-item"
      fontStyle="negro"
      bars="bars_morado"
      image='../../../assets/img/autosaves/pacchetti_giga.png'
      title="{{ 'TITLE_GIGA_PACKAGE' | translate}}"
      titleParteOne="{{'TITLE_GIGA_PACKAGE_PART_ONE' | translate}}"
      titleParteTwo="{{'TITLE_GIGA_PACKAGE_PART_TWO' | translate}}"
      [paquetes]="paquetes.paquetesGiga"
  ></app-cards-packages>


   <!-- paquete Vip -->
   <app-cards-packages 
      cardStyle="card-seven-item-white"
      fontStyle="negro"
      bars="bars_azul_fuerte"
      image='../../../assets/img/autosaves/pacchetti_vip.png'
      title="{{ 'TITLE_VIP_PACKAGE' | translate}}"
      titleParteOne="{{'TITLE_VIP_PACKAGE_PART_ONE' | translate}}"
      titleParteTwo="{{'TITLE_VIP_PACKAGE_PART_TWO' | translate}}"
      [paquetes]="paquetes.paquetesVip"
  ></app-cards-packages>

   <app-brand-area></app-brand-area>
</main>
<app-footer></app-footer>