<app-navbar></app-navbar>
<main>
   <app-header [title]="title" [imagen]="imagen" [subTitle]="subTitle"></app-header>
   <app-content 
   title="Reels Visibility"
   subTitle="{{ 'SUBTITLE_REELS' | translate }}"

   imagenOne="../../../../assets/img/reels/Reels_1.png"
   textUpImagen="{{ 'TEXTUP_IMAGEN_REELS' | translate }}"
  
   question="{{'QUESTION_REELS' | translate }}"
   parrafo="{{ 'PARAGRAPH_REELS' | translate}}"

   listItemOne="{{ 'LIST_ITEM_ONE_REELS' | translate}}"
   listItemTwo="{{ 'LIST_ITEM_TWO_REELS' | translate }}"
   listItemThree="{{ 'LIST_ITEM_THREE_REELS' | translate}}"
   imagenParrafo="../../../../assets/img/reels/Reels_2.png"
  
   TitleDescription="{{'TITLE_DESCRIPTION_ONE_REELS' | translate}}"
   description="{{ 'DESCRIPTION_ONE_REELS' | translate}}"

   TitleDescriptionTwo="{{ 'TITLE_DESCRIPTION_TWO_REELS' | translate}}"
   descriptionTwo="{{'DESCRIPTION_TWO_REELS' | translate }}"

   imagenGridOne="../../../../assets/img/reels/Reels_gallery_1.png"
   imagenGridTwo="../../../../assets/img/reels/Reels_gallery_2.png"
   imagenGridThree="../../../../assets/img/reels/Reels_gallery_3.png"
   imagenGridFour="../../../../assets/img/reels/Reels_gallery_4.png"
   ></app-content>

   <app-cards-packages 
     cardStyle="card-seven-item"
     fontStyle="negro"
     bars="bars_azul"
     image='../../../assets/img/autosaves/pacchetti_petite.png'
     title="{{ 'TITLE_SMALL_PACKAGE' | translate}}"
     titleParteOne="{{'TITLE_SMALL_PACKAGE_PART_ONE' | translate}}"
     titleParteTwo="{{'TITLE_SMALL_PACKAGE_PART_TWO' | translate}}"

     oneCardPrice="{{ 'ONE_CARD_PRICE' | translate }}"
     cardMonth="{{'MONTH' | translate }}"
     oneCardInfo="{{ 'ONE_CARD_INFO' | translate }}"
     oneCardItemOne="{{'ONE_CARD_ITEM_ONE' | translate }}"
     cardItemTwo="{{ 'CARD_ITEM_TWO' | translate }}"
     oneCardItemThree="{{'ONE_CARD_ITEM_THREE' | translate }}"
     cardItemFour="{{ 'CARD_ITEM_FOUR' | translate }}"
     cardItemFive="{{ 'CARD_ITEM_FIVE' | translate }}"
     cardItemSix="{{ 'CARD_ITEM_SIX' | translate }}"
     cardItemSeven="{{ 'CARD_ITEM_SEVEN' | translate }}"
     
     twoCardPrice="{{ 'TWO_CARD_PRICE' | translate }}"
     twoCardInfo="{{ 'TWO_CARD_INFO' | translate }}"
     twoCardItemOne="{{'TWO_CARD_ITEM_ONE' | translate}}"
     twoCardItemThree= "{{'TWO_CARD_ITEM_THREE' | translate }}"
 
     threeCardPrice="{{ 'THREE_CARD_PRICE' | translate }}"
     threeCardInfo="{{ 'THREE_CARD_INFO' | translate }}"
     threeCardItemOne="{{'THREE_CARD_ITEM_ONE' | translate }}"
     threeCardItemThree= "{{'THREE_CARD_ITEM_THREE' | translate }}"
   
   ></app-cards-packages>

   <app-cards-packages 
      cardStyle="card-seven-item"
      fontStyle="negro"
      bars="bars_azul"
      image='../../../assets/img/autosaves/pacchetti_micro.png'
      title="{{ 'TITLE_MICRO_PACKAGE' | translate}}"
      titleParteOne="{{'TITLE_MICRO_PACKAGE_PART_ONE' | translate}}"
      titleParteTwo="{{'TITLE_MICRO_PACKAGE_PART_TWO' | translate}}"

      oneCardPrice="{{ 'ONE_CARD_MICRO_PRICE' | translate }}"
      cardMonth="{{'MONTH' | translate }}"
      oneCardInfo="{{ 'ONE_CARD_MICRO' | translate }}"
      oneCardItemOne="{{'ONE_CARD_MICRO_ITEM_ONE' | translate }}"
      cardItemTwo="{{ 'CARD_ITEM_TWO' | translate }}"
      oneCardItemThree="{{'ONE_CARD_ITEM_MICRO_THREE' | translate }}"

      cardItemFour="{{ 'CARD_ITEM_FOUR' | translate }}"
      cardItemFive="{{ 'CARD_ITEM_FIVE' | translate }}"
      cardItemSix="{{ 'CARD_ITEM_SIX' | translate }}"
      cardItemSeven="{{ 'CARD_ITEM_SEVEN' | translate }}"
      
      twoCardPrice="{{ 'TWO_CARD_MICRO_PRICE' | translate }}"
      twoCardInfo="{{ 'TWO_CARD_MICRO' | translate }}"
      twoCardItemOne="{{'TWO_CARD_MICRO_ITEM_ONE' | translate}}"
      twoCardItemThree= "{{'TWO_CARD_ITEM_MICRO_THREE' | translate }}"

      threeCardPrice="{{ 'THREE_CARD_MICRO_PRICE' | translate }}"
      threeCardInfo="{{ 'THREE_CARD_MICRO' | translate }}"
      threeCardItemOne="{{'THREE_CARD_MICRO_ITEM_ONE' | translate }}"
      threeCardItemThree= "{{'THREE_CARD_ITEM_MICRO_THREE' | translate }}"
 
 ></app-cards-packages>

 <app-cards-packages 
   cardStyle="card-seven-item"
   fontStyle="negro"
   bars="bars_azul"
   image='../../../assets/img/autosaves/pacchetti_giga.png'
   title="{{ 'TITLE_GIGA_PACKAGE' | translate}}"
   titleParteOne="{{'TITLE_GIGA_PACKAGE_PART_ONE' | translate}}"
   titleParteTwo="{{'TITLE_GIGA_PACKAGE_PART_TWO' | translate}}"

   oneCardPrice="{{ 'ONE_CARD_GIGA_PRICE' | translate }}"
   cardMonth="{{'MONTH' | translate }}"
   oneCardInfo="{{ 'ONE_CARD_GIGA' | translate }}"
   oneCardItemOne="{{'ONE_CARD_GIGA_ITEM_ONE' | translate }}"
   cardItemTwo="{{ 'CARD_ITEM_TWO' | translate }}"
   oneCardItemThree="{{'ONE_CARD_ITEM_GIGA_THREE' | translate }}"

   cardItemFour="{{ 'CARD_ITEM_FOUR' | translate }}"
   cardItemFive="{{ 'CARD_ITEM_FIVE' | translate }}"
   cardItemSix="{{ 'CARD_ITEM_SIX' | translate }}"
   cardItemSeven="{{ 'CARD_ITEM_SEVEN' | translate }}"
   
   twoCardPrice="{{ 'TWO_CARD_GIGA_PRICE' | translate }}"
   twoCardInfo="{{ 'TWO_CARD_GIGA' | translate }}"
   twoCardItemOne="{{'TWO_CARD_GIGA_ITEM_ONE' | translate}}"
   twoCardItemThree= "{{'TWO_CARD_ITEM_GIGA_THREE' | translate }}"

   threeCardPrice="{{ 'THREE_CARD_GIGA_PRICE' | translate }}"
   threeCardInfo="{{ 'THREE_CARD_GIGA' | translate }}"
   threeCardItemOne="{{'THREE_CARD_GIGA_ITEM_ONE' | translate }}"
   threeCardItemThree= "{{'THREE_CARD_ITEM_GIGA_THREE' | translate }}"

></app-cards-packages>

<app-cards-packages 
   cardStyle="card-seven-item-white"
   fontStyle="negro"
   bars="bars_azul"
   image='../../../assets/img/autosaves/pacchetti_vip.png'
   title="{{ 'TITLE_VIP_PACKAGE' | translate}}"
   titleParteOne="{{'TITLE_VIP_PACKAGE_PART_ONE' | translate}}"
   titleParteTwo="{{'TITLE_VIP_PACKAGE_PART_TWO' | translate}}"

   oneCardPrice="{{ 'ONE_CARD_VIP_PRICE' | translate }}"
   cardMonth="{{'MONTH' | translate }}"
   oneCardInfo="{{ 'ONE_CARD_VIP' | translate }}"
   oneCardItemOne="{{'ONE_CARD_VIP_ITEM_ONE' | translate }}"
   cardItemTwo="{{ 'ONE_CARD_VIP_ITEM_TWO' | translate }}"
   oneCardItemThree="{{'ONE_CARD_ITEM_VIP_THREE' | translate }}"

   cardItemFour="{{ 'CARD_ITEM_FOUR' | translate }}"
   cardItemFive="{{ 'CARD_ITEM_FIVE' | translate }}"
   cardItemSix="{{ 'CARD_ITEM_SIX' | translate }}"
   cardItemSeven="{{ 'CARD_ITEM_SEVEN' | translate }}"

   twoCardPrice="{{ 'TWO_CARD_VIP_PRICE' | translate }}"
   twoCardInfo="{{ 'TWO_CARD_VIP' | translate }}"
   twoCardItemOne="{{'TWO_CARD_VIP_ITEM_ONE' | translate}}"
   twoCardItemThree= "{{'TWO_CARD_ITEM_VIP_THREE' | translate }}"

   threeCardPrice="{{ 'THREE_CARD_VIP_PRICE' | translate }}"
   threeCardInfo="{{ 'THREE_CARD_VIP' | translate }}"
   threeCardItemOne="{{'THREE_CARD_VIP_ITEM_ONE' | translate }}"
   threeCardItemThree= "{{'THREE_CARD_ITEM_VIP_THREE' | translate }}"

></app-cards-packages>

   <app-brand-area></app-brand-area>
</main>
<app-footer></app-footer>

