<div class="container ">
    <div class="shadow-sm p-4 m-4">
         <form>
             <div class="row mb-2">
               <div class="col-md-6">
                  <div class="form-group">
                     <label for="name">Name</label>
                     <input
                       id="name"
                       class="form-control"
                       type="text"
                       placeholder="Name"/>
                  </div>
               </div>

               <div class="col-md-6">
                  <div class="form-group">
                     <label for="lastName">Last Name</label>
                     <input
                       id="lastName"
                       class="form-control"
                       type="text"
                       placeholder="Name"/>
                  </div>
               </div>

             </div>

             <div class="row">

               <div class="col-md-6">
                    <div class="form-group">
                     <label for="lastName">Last Name</label>
                     <input
                       id="lastName"
                       class="form-control"
                       type="text"
                       placeholder="Name"/>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <label for="lastName">Last Name</label>
                     <input
                       id="lastName"
                       class="form-control"
                       type="text"
                       placeholder="Name"/>
                  </div>
               </div>
             </div>

             <div class="row">
               <div class="col-md-6">
                  <div class="form-group">
                     <label for="lastName">Last Name</label>
                     <input
                       id="lastName"
                       class="form-control"
                       type="text"
                       placeholder="Name"/>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <label for="lastName">Last Name</label>
                     <input
                       id="lastName"
                       class="form-control"
                       type="text"
                       placeholder="Name"/>
                  </div>
               </div>
             </div>
           
              <div class="row">
                 <div class="col-md-12">
                  <button class="btn btn-lg btn-primary btn- float-right ">
                     update
                  </button>
                 </div>
             
              </div>
           

         </form>
    </div>
</div>

