<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
	<div class="container-fluid">
		<div class="col-xl-2 col-lg-2 col-md-2 col-6">
				<a class="navbar-brand" routerLink="/home">
					<img 
					   width="160px"
					   class="img-fluid logo-app"
						src="../../../assets/img/logo/twaper_logo_horizontal.png"
						alt="logoAzul"/>			
				</a>
   	</div>

	   <img
		   class="navbar-toggler"
	      type="button"
	      src="../../../assets/icons/menu_lateral_1.png"
			style="height: 45px;"
			data-toggl="collapse"
			data-target="#navbarText"
			aria-controls="navbarText"
			aria-expanded="false"
			aria-label="Toggle navigation" />
		 	  
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mx-auto mb-2 mb-lg-0 ">
		 <!-- 	<li class="nav-item">
				<a class="nav-link active" routerLink="/home" routerLinkActive="active">HOME</a>	
			</li>
			<li class="nav-item">
				<a class="nav-link active" routerLink="/about">TOOLS</a>
			</li>

			<li class="nav-item">
				<a  class="nav-link active" routerLink="/services" routerLinkActive="active" >SERVIZI</a>	
			</li>

			<li class="nav-item">
				<a class="nav-link active" routerLink="/services">RISULTATI</a>
			 </li>

			 <li class="nav-item">
				<a class="nav-link active" routerLink="/about">BLOG</a>
			 </li>

			 <li class="nav-item">
				<a class="nav-link active" routerLink="/services">RISORSE GRATUITE</a>
			 </li>

			 <li class="nav-item">
				<a class="nav-link active" routerLink="/services">CONTACT</a>
			 </li>	 -->	
		 </ul>
	
		<span class="navbar-text mr-4" ></span>
	

         <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <img class="rounded-circle" width="40" style="background-color:aquamarine;" src="../../../../assets/img/utils/twaper_accounts.png" alt="">
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" routerLink="/dashboard/perfil">Perfil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Cerrar Sesión</a>
            </div>
          </div>


        
     </div>
   </div>
 </nav>

<!-- <div *ngIf="show" >
 <app-sidebar (eventCloseMenu)="closeMenu($event)"></app-sidebar>
</div> -->