<footer class="footer-area">
	<div class="footer-top bg-black">
		<div class="container">
			<div class="row pt-80 pb-40">
				<div class="col-xl-3 col-md-6">
					<div class="footer-widgets footer-about-widget">
						<div class="footer-logo">
							<a routerLink="/home">
								<img class="img-fluid" width="140" src="../../../assets/icons/twaper_logo_horizontal_white.png" alt="Logo">
							</a>
						</div>
						<p>
							Twaper è un’azienda di social media 
							marketing che vende servizi per
							aiutare il tuo account di Instagram
							ad ottenere interazioni	 organiche
							Garantiamo visibilità ma NON followers
							in quanto questo dipende dalla
							qualità dei contenuti caricati
						</p>
						<div>
							<a routerLink="#" style="color: white; margin-right: 10px;"><i class="fab fa-facebook-f"></i></a>
							<a routerLink="#" style="color: white;"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-md-6">
					<div class="footer-widgets latest-news">
						<h3 class="widget-title-2">LINK UTILI</h3>
						<div class="news-wrap">
							<div class="news-content">
								<h4>
									<a routerLink="#">
										Servizi
									</a>
								</h4>
					
							</div>
						</div>
						<div class="news-wrap">
							<div class="news-content">
								<h4>
									<a routerLink="#">
										Su di noi
									</a>
								</h4>
						
							</div>
						</div>

						<div class="news-wrap">
							<div class="news-content">
								<h4>
									<a routerLink="#">
										Risorse Gratuite
									</a>
								</h4>
						
							</div>
						</div>

						<div class="news-wrap">
							<div class="news-content">
								<h4>
									<a routerLink="#">
										Reels
									</a>
								</h4>
						
							</div>
						</div>

						<div class="news-wrap">
							<div class="news-content">
								<h4>
									<a routerLink="#">
										All inclusive
									</a>
								</h4>
						
							</div>
						</div>

						<div class="news-wrap">
							<div class="news-content">
								<h4>
									<a routerLink="#">
										Accedi
									</a>
								</h4>
						
							</div>
						</div>

						<div class="news-wrap">
							<div class="news-content">
								<h4>
									<a routerLink="#">
										Registrati
									</a>
								</h4>
						
							</div>
						</div>

					</div>
				</div>
				<div class="col-xl-3 col-md-6">
					<div class="footer-widgets contact-widget">
						<h3 class="widget-title-2">Contatti</h3>
						<p>
							Twaper SRL sede legale București, RO
							Strada Argentina nr 25, Sector 1
							Capitale sociale 250 RON
						</p>
						<ul>
		
							<li>
								<a routerLink="#">
									<span>twaperofficial@gmail.com</span>
								</a>
							</li>
							<li>

								<a routerLink="#">
									<span>+39 3271970287</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-md-6">
					<div class="footer-widgets newsletters-widget">
						<h3 class="widget-title-2">Newsletter</h3>
						<p>
							Stay updated on the latest news from the social media world
						</p>
						<form action="#">
							<div class="input-wrap">
								<input type="text" placeholder="Enter Your Email">
							</div>
							<button class="btn btn-gra">
								INVIA <i class="far fa-angle-double-right"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6">
					<div class="copyright text-xl-left text-lg-left text-center mb-md-10 mb-xs-10">
						<p>Copyright <a routerLink="/home" style="color: #B125EC;">TWAPER</a> ©2020. All Rights Reserved</p>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6">
					<div class="footer-menu">
						<ul>
							<li><a routerLink="#">Privacy</a></li>
							<li><a routerLink="#">Cookies</a></li>
							<li><a routerLink="#">Terms Of Services</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
