.swiper-slide {
   flex-shrink: 0;
   width: 100%;
   height: 100%;
   position: relative;
   transition-property: transform;
}

.swiper-container {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   overflow: hidden;
   list-style: none;
   padding: 0;
   z-index: 1;
}

.home-slider-2 .single-slide {
   background-image: url("../../../../assets/img/img-home/home_bkg_header_concierto.png");
   background-repeat: no-repeat;
   background-size: cover;
   height: 500px;
   background-position: center center;
}


.home-slider-2 .single-slide .slider-content-2 {
   padding-top: 100px;
   padding-bottom: 200px;
   padding-right: 300px;
 }

 .home-slider-2 .single-slide .slider-content-2 h2 {
  color: #fff;
  font-weight: 600;
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 38px;
  font-family: 'Segoe UI';
  font-weight: bold;
}

/* barra morada al lado izquierdo del texto de bienvenida */
.home-slider-2 .single-slide .slider-content-2 span:before {
  content: "";
  width: 50px;
  height: 4px;
  background: #B125EC;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.home-slider-2 .single-slide .slider-content-2 span {
  color: #fff;
  font-size: 28px;
  line-height: 20px;
  margin-bottom: 46px;
  font-family: 'Segoe UI';
  display: inline-block;
  padding-left: 70px;
  position: relative;
}

.btn {
  padding: 24px 50px;
  border-radius: 0;
  font-size: 15px;
  line-height: 1;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-gra {
  color: #fff;
  background-image: linear-gradient(to right, #22D7FC , #B125EC, #FA3CC8);
}

.home-slider-2  .single-slide .slider-content-2 h2 small{
  font-size: 20px;
}

 .home-slider-2 .single-slide .slider-content-2 .btn {
   text-transform: uppercase;
 }
 .home-slider-2 .single-slide .slider-content-2 .btn i {
   margin-left: 5px;
 }


 @media (max-width: 377px) { 
  /* media 300px */
 .home-slider-2 .single-slide .slider-content-2 {
   padding-top: 80px;
   padding-bottom: 120px;
   padding-right: 0;
  

 }

 .home-slider-2 .single-slide .slider-content-2 span {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 46px;
  font-family: 'Segoe UI';
  display: inline-block;
  padding-left: 70px;
  position: relative;
} 

 .home-slider-2 .single-slide .slider-content-2 h2 {  
  font-weight: 600;
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 38px;
  font-family: 'Segoe UI';
  font-weight: bold;
}

.feature-area-2 .section-title-3 h3{
 color: #000;
}

.btn {
  padding: 14px 24px;
  border-radius: 0;
  font-size: 15px;
  line-height: 1;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 5px;
}

}


 @media screen and (min-width: 376px) {
  .home-slider-2 .single-slide .slider-content-2 {
    padding-top: 80px;
    padding-bottom: 120px;
    padding-right: 0;
   
  }

  .home-slider-2 .single-slide .slider-content-2 span {
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 46px;
    font-family: 'Segoe UI';
    display: inline-block;
    padding-left: 70px;
    position: relative;
  } 

   .home-slider-2 .single-slide .slider-content-2 h2 {  
    font-weight: 600;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 38px;
    font-family: 'Segoe UI';
    font-weight: bold;
  }

  .btn {
    padding: 14px 24px;
    border-radius: 0;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;
  }

 }


@media screen and (min-width: 576px) {
  .home-slider-2 .single-slide .slider-content-2 {
    padding-top: 80px;
    padding-bottom: 120px;
    padding-right: 0;
   
  }

}
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .home-slider-2 .single-slide .slider-content-2 {
    padding-right: 0;
    padding-top: 120px;
    padding-bottom: 160px;
  }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .home-slider-2 .single-slide .slider-content-2 {
    padding-right: 0;
    padding-top: 120px;
    padding-bottom: 160px;
  }
}

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .home-slider-2 .single-slide .slider-content-2 {
    padding-right: 0;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .home-slider-2 .single-slide .slider-content-2 {
      padding-top: 100px;
      padding-bottom: 200px;
      padding-right: 300px;
    }
  
  .btn {
    padding: 27px 32px;
    border-radius: 0;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
}