<div class="slider-area">
   <div class="swiper-container home-slider-2">
      <div class="swiper-wrapper">
         <div class="swiper-slide single-slide">
            <div class="container">
               <div class="row">
                  <div class="col-xl-10 col-lg-8">
                     <div class="slider-content-2">
                        <span>
                          {{'BIENVENIDO_HOME' | translate }}
                        </span>
                        <h2> 
                           {{'SUB_BIENVENIDO' | translate }} <small>Fredy Mercury </small>
                           {{'SUB_BIENVENIDO_PART_TWO' | translate }}
                        </h2>
                        <a routerLink="/services" class="btn btn-gra">
                           {{'BUTTON_TEXT_LEARN_MORE' | translate }}
                           <i class="fas fa-angle-double-right"></i>
                        </a>
                     </div>
                  </div>
               </div>
            </div>   
         </div>
      </div>
   </div>
</div>