<app-navbar></app-navbar>
<main>
   <app-header [title]="title" [imagen]="imagen" [subTitle]="subTitle"></app-header>
   <app-content 
   title="Auto Saves"
   subTitle="{{ '
   Salvare un post manifesta non solo l’interesse immediata ma l’intenzione di 
   rivederlo. Questo indicatore di qualità permette ad Instagram di avere più dati 
   per le statistiche sulle future visualizzazioni. Ottenere salvataggi su un proprio
   post garantisce un eccellente posizionamento. 
   '}}"

   imagenOne="../../../../assets/img/autosaves/auto_saves_img1.png"
   textUpImagen="{{ '
    E’ vivamente consigliato di combinare i pacchetti SAVE con i LIKES o/e IMPRESSION. Se invece ci sono già le quantità
    necessarie di likes o impressions in modo organico, i SAVE possono aumentare ancora di più la crescita dell’account. 

   '}}"

   question="{{'I save sono importantissimi'}}"
   parrafo="{{ 'Un utente che salva un tuo post esprime più di un semplice
   gradimento e ad Instagram un aumento del tempo di permanenza.
   '}}"

   listItemOne="{{ 'Più importanti dei likes, per l’algoritmo di Instagram un
   save ha molto più valore di un like'}}"

   listItemTwo="{{ 'Incremento significativo dell'engagement e del reach, se 
   un utente salva il tuo post tornerà a visitare il tuo profilo
   ' }}"
   listItemThree="{{ 'Offre valore aggiunto ai tuoi post grazie al loro significato
   dimostrando che il tuo content è di qualità'}}"
   imagenParrafo="../../../../assets/img/autosaves/auto_saves_img_2_yellow.png"

   TitleDescription="{{'Pacchetti Auto Saves'}}"
   description="{{ 'Trasmettere emozioni, insegnare qualcosa ai tuoi followers o semplicemente farli
   ridere potrebbe aumentare la qualità generale del tuo engagement. Vogliamo
   assicurarci che quando il tuo post arriverà in Esplora avrà successo quindi ti
   consigliamo vivamente di mostrare un contenuto di qualità. 
   '}}"

   TitleDescriptionTwo="{{ 'Scegli il tuo'}}"
   descriptionTwo="{{'Una volta scelto il tuo pacchetto il sistema si attiverà entro pochi minuti dalla
   pubblicazione mantenendo sotto controllo l’erogazione del servizio attraverso
   efficienti sistemi di alert. Il tempo nel quale riceverai le tue views è di 15-30 minuti,
   per i pacchetti più grandi potremmo decidere di dilazionare la ricezione del servizio
   fino ad alcune ore per mantenere un pattern di crescita organica.
   '}}"

   imagenGridOne="../../../../assets/img/autosaves/auto_saves_gallery1.png"
   imagenGridTwo="../../../../assets/img/autosaves/auto_saves_gallery2.png"
   imagenGridThree="../../../../assets/img/autosaves/auto_saves_gallery3.png"
   imagenGridFour="../../../../assets/img/autosaves/auto_saves_gallery4.png"
  ></app-content>
  
     <!-- paquete smalll o  Petite -->
     <app-cards-packages 
     cardStyle="card-seven-item-height"
     fontStyle="negro"
     bars="bars_azul"
     image='../../../assets/img/autosaves/pacchetti_petite.png'
     title="{{ 'TITLE_SMALL_PACKAGE' | translate}}"
     titleParteOne="{{'SUBTITLE_AUTOSAVES_PART_ONE' | translate}}"
     titleParteTwo="{{'SUBTITLE_AUTOSAVES_PART_TWO' | translate}}"
     [paquetes]="paquetes.paquetesSmall"
  ></app-cards-packages>

 <!-- paquete micro -->
  <app-cards-packages 
     cardStyle="card-seven-item-height"
     fontStyle="negro"
     bars="bars_fucsia"
     image='../../../assets/img/autosaves/pacchetti_micro.png'
     title="{{ 'TITLE_MICRO_PACKAGE' | translate}}"
     titleParteOne="{{'SUBTITLE_AUTOSAVES_MICRO_PART_ONE' | translate}}"
     titleParteTwo="{{'SUBTITLE_AUTOSAVES_MICRO_PART_TWO' | translate}}"
     [paquetes]="paquetes.paquetesMicro"
  ></app-cards-packages>

  <!-- paquete Giga -->
  <app-cards-packages 
     cardStyle="card-seven-item-height"
     fontStyle="negro"
     bars="bars_morado"
     image='../../../assets/img/autosaves/pacchetti_giga.png'
     title="{{ 'TITLE_GIGA_PACKAGE' | translate}}"
     titleParteOne="{{'SUBTITLE_AUTOSAVES_GIGA_PART_ONE' | translate}}"
     titleParteTwo="{{'SUBTITLE_AUTOSAVES_GIGA_PART_TWO' | translate}}"
     [paquetes]="paquetes.paquetesGiga"
 ></app-cards-packages>


  <!-- paquete Vip -->
  <app-cards-packages 
     cardStyle="card-seven-item-height-white"
     fontStyle="negro"
     bars="bars_azul_fuerte"
     image='../../../assets/img/autosaves/pacchetti_vip.png'
     title="{{ 'TITLE_VIP_PACKAGE' | translate}}"
     titleParteOne="{{'SUBTITLE_AUTOSAVES_VIP_PART_ONE' | translate}}"
     titleParteTwo="{{'SUBTITLE_AUTOSAVES_VIP_PART_TWO' | translate}}"
     [paquetes]="paquetes.paquetesVip"
 ></app-cards-packages>


   <app-brand-area></app-brand-area>
</main>
<app-footer></app-footer>